<div class="container mb-4 mt-4">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Thanks! Submission Received</h4>
    <p>Please save the number provided below for future reference.</p>
    <hr />
    <p class="mb-0">This number will be used to check on the form's status.</p>
  </div>
  <hr />
  <p>
    Here is your reference number:
    <span id="request-number" class="font-weight-bold">{{
      requestNumber
    }}</span>
  </p>
  <p>Please save this for future reference.</p>
</div>
