<ng-template [ngIf]="stepCounter === 0">
  <!-- Page Content -->
  <div class="container" [@myAnimation]>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="jumbotron jumbotron-fluid mt-4">
          <div class="container">
            <h1 class="display-4">Office of Public Defender</h1>
            <p class="lead">This is a form application to fill out forms</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Form selection -->
    <div class="row">
      <div class="col-sm-6 pt-4 mx-auto">
        <h2>Start a form</h2>
        <div class="m-2">
          <button
            mat-raised-button
            color="primary"
            id="startFormBtn"
            class="form-button"
            (click)="handleStartButtonClick()"
          >
            Start form
          </button>
        </div>
      </div>
      <div class="col-sm-6 pt-4 mx-auto">
        <h2>Continue a form</h2>
        <div class="m-2">
          <button
            mat-raised-button
            color="primary"
            id="continueFormBtn"
            class="form-button"
            (click)="handleContinueButtonClick()"
          >
            Continue form
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="stepCounter === 1">
  <div class="center" [@myAnimation]>
    <div class="row">
      <h3>Are you an employee or contractor?</h3>
    </div>
    <div class="row">
      <button
        mat-button
        color="primary"
        id="employeeBtn"
        class="mx-auto"
        (click)="selectEmployee()"
      >
        Employee
      </button>
    </div>
    <div class="row">
      <button
        mat-button
        color="primary"
        id="contractorBtn"
        class="mx-auto"
        (click)="selectContractor()"
      >
        Contractor
      </button>
    </div>
    <div class="row">
      <button mat-button class="go-back-btn mx-auto" (click)="previousStep()">
        Go back
      </button>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="stepCounter === 2">
  <div class="center" [@myAnimation]>
    <div class="row">
      <!-- <h3>Enter Request Number</h3> -->
    </div>
    <div class="row">
      <mat-form-field
        class="full-width"
        floatLabel="never"
        appearance="outline"
      >
        <mat-label>Request Number</mat-label>
        <input
          id="requestNumberInput"
          type="number"
          matInput
          placeholder="Ex. 123456"
          class="mx-auto"
          [(ngModel)]="requestNumber"
        />
        <mat-hint>Enter 6 digit request number</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <button
        id="retrieveFormBtn"
        mat-button
        color="primary"
        class="mx-auto mt-2"
        (click)="retrieveForm()"
      >
        Retrieve form
      </button>
    </div>
    <div class="row">
      <button
        mat-button
        class="go-back-btn mx-auto mt-2"
        (click)="previousStep()"
      >
        Go back
      </button>
    </div>
  </div>
</ng-template>
