div {
  text-align: center;
}

/* .form-button {
  border-radius: 10px;
} */

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.go-back-btn {
  border-radius: 10px;
}

.full-width {
  width: 100%;
}
