.mat-input-width {
  width: 60%;
}

@media only screen and (max-width: 600px) {
  .mat-input-width {
    width: 100%;
  }
}

mat-horizontal-stepper{
  background-color: rgb(110, 110, 110);
}
mat-label{
  color: rgb(255, 255, 255);
}

.button-container {
  display: flex;
  flex-direction: row;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: rgb(255, 204, 1) !important;
  color: black;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  background-color: #f84242;
}

.spacer {
  flex: 1 1 auto;
}

.access-option-button {
  margin-top: 3%;
  margin-bottom: 3%;

}
