.mat-input-width {
  width: 60%;
}

@media only screen and (max-width: 600px) {
  .mat-input-width {
    width: 100%;
  }
}


mat-label {
  color: rgb(255, 255, 255);
}

.button-container {
  display: flex;
  flex-direction: row;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #334E68;
  color: rgba(255, 255, 255, 0.905);
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  background-color: #334E68;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.access-option-button {
  margin-top: 3%;
  margin-bottom: 3%;

}

.button-color {
  background-color: black;
  color: black;
}

mat-step {
  background-color: #829AB1;
}

mat-horizontal-stepper {
  background-color: #CBD2D9;
  border-radius: 6px;

}

mat-label {
  color: rgb(0, 0, 0);
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #334E68;
}

.container{
  margin: 50px auto 0px;
}