<div class="nav-container">
    <img src="assets/small_logo.png" alt="logo" class="mini-logo">
    <div class="spacer"></div>
    <button class="nav-buttons" [routerLink]="['/admin']">Admin Login</button>
    <button class="nav-buttons" [routerLink]="['/employee-form']">Employee Form</button>
    <button class="nav-buttons"  [routerLink]="['/admin/reset-password']">Reset Password</button>
    <button class="nav-buttons" [routerLink]="['/admin/service-requests']">Service Request</button>
    <button class="nav-buttons"  [routerLink]="['/admin/approvers']">Approvers</button>
    <button class="logout-button">Logout</button>
</div>
<ng-component></ng-component>