<div class="nav-container light-mode">
    <img src="assets/small_logo.png" alt="logo" class="mini-logo">
    <div *ngIf="isAdminLoggedIn | async" class="welcome-name">{{firstName != null ? "Welcome, " + firstName + " " + lastName : " "}}</div>
    <div class="spacer"></div>
    <div *ngIf="isAdminLoggedIn | async">
        <button class="nav-buttons" [routerLink]="['/admin/approvers']">
            <div class="button-flex">
                <img src="assets/LightModeApproversLogo.png" alt="ApproversLogo" class="approvers-logo">
                <div class="text-under-button">Modify Approvers</div>
            </div>
        </button>
        <button class="nav-buttons" [routerLink]="['/admin/service-requests']">
            <div class="button-flex">
                <img src="assets/LightModeServiceRequestLogo.png" alt="ServiceRequestLogo" class="service-request-logo">
                <div class="text-under-button">Service Requests</div>
            </div>
        </button>
        <button class="nav-buttons" [routerLink]="['/admin/employee-form']">
            <div class="button-flex">
                <img src="assets/LightModeNewFormLogo.png" alt="" class="employee-form-logo">
                <div class="text-under-button">Create New Form</div>
            </div>
        </button>
        <button class="nav-buttons"  [routerLink]="['/admin/reset-password']">
            <div class="button-flex">
                <img src="assets/LightModeResetPasswordLogo.png" alt="" class="reset-logo">
                <div class="text-under-button">Reset Password</div>
            </div>
        </button>
        <button class="nav-buttons" [routerLink]="['/admin/Create_User']">
            <div class="button-flex">
                <img src="assets/LightModeNewAdminLogo.png" alt="" class="new-admin-logo">
                <div class="text-under-button">New Admin</div>
            </div>
        </button>
        <button class="logout-button" (click)="onLogoutClick()">
            <div class="button-flex">
                <img src="assets/LogoutLogo.png" alt="" class="logout-logo">
                <div class="text-under-button">Logout</div>
            </div>
        </button>
    </div>    
</div>
<ng-component></ng-component>