.nav-container.light-mode{ 
    position:sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #adadad;
    column-gap: min(1vw, 60px);
    padding: min(0.5vw, 20px);
    box-shadow: 0px 0px 10px black;


    .nav-buttons{
        background-color: transparent;
        border-color: transparent;
        color: rgb(255, 255, 255);
    }

    .logout-button{
        border-color: transparent;
        background-color: transparent;
        border-radius: 3px;
        font-size: 12px;
        font-family:sans-serif;
        font-weight: 100;
    }

    .spacer{
        flex: 1;
    }

    .mini-logo{
        width: min(3vw, 120px);

    }

    .service-request-logo{
        height: auto;
        width: min(1.7vw, 80px);
    }

    .employee-form-logo{
        height: auto;
        width: min(1.7vw, 80px);
    }

    .logout-logo{
        height: auto;
        width: min(1.7vw, 80px);
    }

    .new-admin-logo{
        height: auto;
        width: min(1.7vw, 80px);
    }

    .reset-logo{
        height: auto;
        width: min(1.7vw, 80px);
    }

    .button-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-under-button{
        color: white;
        font-size: min(0.6vw, 25px);
        font-family: sans-serif;
        font-weight: 400;
    }

    .admin-login-logo{
        height: auto;
        width: min(1.7vw, 80px);
    }

    .welcome-name{
        position:static;
        font-size: 20px;
        font-weight: 400;
        font-family: sans-serif;
        width: fit-content;
    }
}