<!-- Employee Form -->
<form
  id="regForm"
  [formGroup]="approval"
  [@myAnimation]
  class="container"
  [style.display]="isLoading ? 'none' : 'block'"
>
  <!-- Personal Information Step -->
  <mat-horizontal-stepper #stepper>
    <mat-step
      formGroupName="personalInformation"
      [stepControl]="approval.get('personalInformation')"
    >
      <ng-template matStepLabel>Personal</ng-template>
      <h2 class="mat-display-1" style="margin-bottom: 32px">
        Personal Information
      </h2>
      <p *ngIf="requestNumber">
        Your request number: <span style="color: red">{{ requestNumber }}</span>
      </p>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>First Name</mat-label>
          <input
            id="firstNameInput"
            #firstNameInput
            type="text"
            matInput
            formControlName="firstName"
            required
            pattern="[a-zA-Z ]*"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error>First name is required and must be letters only</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Middle Initial</mat-label>
          <input
            id="middleInitialInput"
            type="text"
            matInput
            formControlName="middleInitial"
            pattern="[a-zA-Z ]*"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-error>Middle initial must be letters only</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Last Name</mat-label>
          <input
            id="lastNameInput"
            type="text"
            matInput
            formControlName="lastName"
            required
            pattern="[a-zA-Z ]*"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error>Last name is required and must be letters only</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Email</mat-label>
          <input
            id="emailAddressInput"
            type="text"
            matInput
            formControlName="emailAddress"
            required
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-error>Email is required with correct email format</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Phone number</mat-label>
          <input
            id="phoneNumberInput"
            type="phone"
            matInput
            formControlName="phoneNumber"
            required
            pattern="[0-9]{10}"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-error>Phone number is required and must be 10 digit</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 70%">
          <mat-label>Employee Number</mat-label>
          <input
            id="employeeNumberInput"
            type="text"
            matInput
            formControlName="employeeNumber"
            required
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error>Employee number is required</mat-error>
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-raised-button matStepperNext color="primary">Next</button>
        <span class="spacer"></span>
        <button
          id="personal-info-save-btn"
          mat-raised-button
          class="save-button"
          color="accent"
          (click)="save()"
        >
          Save
        </button>
      </div>
    </mat-step>

    <!-- Address Step -->
    <mat-step
      formGroupName="addressInformation"
      [stepControl]="approval.get('addressInformation')"
    >
      <ng-template matStepLabel>Address</ng-template>
      <h2 class="mat-display-1" style="margin-bottom: 32px">Address</h2>
      <p *ngIf="requestNumber">
        Your request number: <span style="color: red">{{ requestNumber }}</span>
      </p>

      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Street Address</mat-label>
          <input
            id="addressInput"
            type="text"
            matInput
            formControlName="address"
            required
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error>Street address is required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>City</mat-label>
          <input
            id="cityInput"
            type="text"
            matInput
            formControlName="city"
            required
            pattern="[a-zA-Z ]*"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error>City is required and must be letters only</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>State</mat-label>
          <input
            id="stateInput"
            type="text"
            matInput
            formControlName="state"
            required
            pattern="[a-zA-Z ]*"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error>State is required and must be letters only</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Zip Code</mat-label>
          <input
            id="zipCodeInput"
            type="text"
            matInput
            formControlName="zipCode"
            required
            pattern="[0-9]*"
            [errorStateMatcher]="errorStateMatcher"
          />
          <mat-hint>Required</mat-hint>
          <mat-error
            >Zipcode is required and must be numbers only with length
            5-7</mat-error
          >
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-raised-button matStepperPrevious>Previous</button>
        <button mat-raised-button matStepperNext color="primary" class="ml-2">
          Next
        </button>
        <span class="spacer"></span>
        <button
          id="address-info-save-btn"
          mat-raised-button
          class="save-button"
          color="accent"
          (click)="save()"
        >
          Save
        </button>
      </div>
    </mat-step>

    <!--Internet Access-->
    <mat-step 
      formGroupName="addressInformation" 
      [stepControl]="approval.get('addressInformation')">
      <ng-template matStepLabel>Internet Access</ng-template>
      <h2 class="mat-display-1" style="margin-bottom: 32px">
        Internet Access
      </h2>
        <!-- Information -->
      <div>
        <br />
        <h5><u>Policy Rules Descriptions:</u></h5>
        <p>
          <small
            ><b>Default Countywide Policy:</b> Block Pornography, Adult/Mature,
            Nudity, Intimate Apparel/Swimsuit, Games, Gambling, Personals/Dating,
            Social Networking, Phishing, Spyware/Effect/Malware, Hacking, Proxy
            Avoidance and Remote Access Tools.<br />
            <b>Department Policy Rule 0</b>: Allow full access, no restrictions.<br />
            <b>Department Policy Rule 1</b>: Allow access to Pornography,
            Adult/Mature, Nudity, Intimate Apparel/Swimsuit, Games, Gambling,
            Personals/Dating, Social Networking.<br />
            <b>Department Policy Rule 2</b>: Allow access to Phishing,
            Spyware/Effect/Malware, Hacking, Proxy Avoidance, Remote Access
            Tools.<br />
            <b>Department Policy Rule 3</b>: Countywide Global Policy + add’l
            categories (chosen by your department).<br />
            <b>Department Policy Rule 4</b>: Remove categories from the Global
            Policy (chosen by your department).<br />
            <b>Social Networking Facebook / Twitter / LinkedIn:</b> Allow access to
            Facebook, Twitter, and LinkedIn, respectively.<br />
            <br />
            <span style="color: red">Please Note: </span>
            <span
              >Policy Rules “0” through “4” and Social Networking Facebook, Twitter
              and LinkedIn are not setup by default. Your department must have
              already submitted an approved “Category Selection Worksheet” before
              you can request to have rules “0” through “4” applied.</span
            ></small
          >
        </p>
      </div>

      <div class="flex-container">
        <!-- For some reason need to also apply to parent in order for this style to work, access-option-button -->
        <div class="flex-column internet-access-button">
          <mat-button-toggle
            id="defaultCountyWidePolicy"
            class="internet-access-button"
            [checked]="defaultCountyWidePolicy"
            (change)="onButtonChange2($event, 'Default Countywide Policy')"
            >Default Countywide Policy
          </mat-button-toggle>
        </div>
        <div class="flex-column internet-access-button">
          <mat-button-toggle
            id="departmentPolicyRule0"
            class="internet-access-button"
            [checked]="departmentPolicyRule0"
            (change)="onButtonChange2($event, 'Department Policy Rule 0')"
            >Department Policy Rule 0</mat-button-toggle
          >
        </div>
        <div class="flex-column internet-access-button">
          <mat-button-toggle
            id="departmentPolicyRule1"
            class="internet-access-button"
            [checked]="departmentPolicyRule1"
            (change)="onButtonChange2($event, 'Department Policy Rule 1')"
            >Department Policy Rule 1</mat-button-toggle
          >
        </div>
      </div>
    
      <!-- Second row -->
      <div class="flex-container">
        <div class="flex-column internet-access-button">
          <mat-button-toggle
            id="departmentPolicyRule2"
            class="internet-access-button"
            [checked]="departmentPolicyRule2"
            (change)="onButtonChange2($event, 'Department Policy Rule 2')"
            >Department Policy Rule 2</mat-button-toggle
          >
        </div>
        <div class="flex-column internet-access-button">
          <mat-button-toggle
            id="departmentPolicyRule3"
            class="internet-access-button"
            [checked]="departmentPolicyRule3"
            (change)="onButtonChange2($event, 'Department Policy Rule 3')"
            >Department Policy Rule 3</mat-button-toggle
          >
        </div>
        <div class="flex-column internet-access-button">
          <mat-button-toggle
            id="departmentPolicyRule4"
            class="internet-access-button"
            [checked]="departmentPolicyRule4"
            (change)="onButtonChange2($event, 'Department Policy Rule 4')"
            >Department Policy Rule 4</mat-button-toggle
          >
        </div>
      </div>
    
      <!-- Third Row -->
      <div class="flex-container">
        <div class="flex-column internet-access-button">
          <mat-button-toggle
            id="socialNetworkingFacebook"
            class="internet-access-button"
            [checked]="socialNetworkingFacebook"
            (change)="onButtonChange2($event, 'Social Networking Facebook')"
            >Social Networking Facebook</mat-button-toggle
          >
        </div>
        <div class="flex-column internet-access-button">
          <mat-button-toggle
            id="socialNetworkingTwitter"
            class="internet-access-button"
            [checked]="socialNetworkingTwitter"
            (change)="onButtonChange2($event, 'Social Networking Twitter')"
            >Social Networking Twitter</mat-button-toggle
          >
        </div>
        <div class="flex-column internet-access-button">
          <mat-button-toggle
            id="socialNetworkingLinkedIn"
            class="internet-access-button"
            [checked]="socialNetworkingLinkedIn"
            (change)="onButtonChange2($event, 'Social Networking LinkedIn')"
            >Social Networking LinkedIn</mat-button-toggle
          >
        </div>
      </div>
      <div class="internet-access-button-container">
        <button mat-raised-button matStepperPrevious>Previous</button>
        <button
          mat-raised-button
          matStepperNext
          color="primary"
          class="ml-2"
        >
          Next
        </button>
        <span class="spacer"></span>
        <button
          id="access-info-save-btn"
          mat-raised-button
          class="save-button"
          color="accent"
          (click)="save()"
        >
          Save
        </button>
      </div>  

      
    </mat-step>

    <!-- Access Information Step-->
    <mat-step>
      <ng-template matStepLabel>Data Center Access</ng-template>
      <!-- TODO: Work on naming and values -->
      <div>
        <h2 class="mat-display-1" style="margin-bottom: 16px">
          Access Options
        </h2>
        <p *ngIf="requestNumber">
          Your request number:
          <span style="color: red">{{ requestNumber }}</span>
        </p>

        <div class="row">
          <!-- Access choices -->

          <!-- IBM Access info button -->
          <div class="access-option-button col-sm-12 col-md-4">
            <mat-button-toggle
              id="ibm-access-btn"
              
              >IBM Access Information
            </mat-button-toggle>
            <div class="ibmForm">
              <div>
                <!-- TODO: Add a heading here -->
                <mat-form-field formGroupName="accessInformation">
                  <mat-label>Logon ID</mat-label>
                  <input
                    id="ibmLogonIdInput"
                    matInput
                    formControlName="ibmLogonId"
                  />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field formGroupName="accessInformation">
                  <mat-label>2-Digit Major Group Code</mat-label>
                  <input
                    id="ibmMajorGroupCodeInput"
                    matInput
                    formControlName="majorGroupCode"
                  />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field formGroupName="accessInformation">
                  <mat-label>2-Digit LSO Group Code</mat-label>
                  <input
                    id="ibmLsoGroupCodeInput"
                    matInput
                    formControlName="lsoGroupCode"
                  />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field formGroupName="accessInformation">
                  <mat-label>Security Authorization</mat-label>
                  <input
                    id="ibmSecurityAuthInput"
                    matInput
                    formControlName="securityAuthorization"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- Unix Environment button -->
          <div class="access-option-button col-sm-12 col-md-4">
            <mat-button-toggle
              id="unix-access-btn"
              
              >Unix Environment Access</mat-button-toggle
            >
            <div class="unix-access-form">
              <!-- TODO: Needs the Type of Request section -->
              <div>
                <mat-form-field formGroupName="accessInformation">
                  <mat-label>Login ID</mat-label>
                  <input
                    id="unixLogonIdInput"
                    matInput
                    formControlName="unixLogonId"
                  />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field formGroupName="accessInformation">
                  <mat-label>Application</mat-label>
                  <input
                    id="applicationInput"
                    matInput
                    formControlName="application"
                  />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field formGroupName="accessInformation">
                  <mat-label>Access Group</mat-label>
                  <input
                    id="accessGroupInput"
                    matInput
                    formControlName="accessGroup"
                  />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field formGroupName="accessInformation">
                  <mat-label>Account Number</mat-label>
                  <input
                    id="accountNumberInput"
                    matInput
                    formControlName="accountNumber"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- SecurId button -->
          <div class="access-option-button col-sm-12 col-md-4">
            <mat-button-toggle
              id="securid-access-btn"
              
              >SecurID Remote Access</mat-button-toggle
            >
            <div class="secur-id-access-form">
              <div>
                <mat-form-field formGroupName="accessInformation">
                  <mat-label>Billing Account Number</mat-label>
                  <input
                    id="billingAccountInput"
                    matInput
                    formControlName="billingAccountNumber"
                  />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field formGroupName="accessInformation">
                  <mat-label>Access Type</mat-label>
                  <select
                    formControlName="accessType"
                    id="accessTypeSelect"
                    matNativeControl
                  >
                    <option selected="SecurIDVPN">SecurID VPN</option>
                    <option value="Adapative Authentication VPN">
                      Adapative Authentication VPN
                    </option>
                  </select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <!-- Options -->
        <!-- The forms will render here after the user checks the corresponding checkbox-->
        <div class="accessInformationForms">
          <!-- SecurID Access form -->

          <div class="button-container">
            <button mat-raised-button matStepperPrevious>Previous</button>
            <button
              mat-raised-button
              matStepperNext
              color="primary"
              class="ml-2"
              
            >
              Next
            </button>
            <span class="spacer"></span>
            <button
              id="access-info-save-btn"
              mat-raised-button
              class="save-button"
              color="accent"
              (click)="save()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </mat-step>

    <!-- Department -->
    <mat-step [stepControl]="approval.get('additionalInformation')">
      <ng-template matStepLabel>Active Directory</ng-template>
      <div >
        <h2 class="mat-display-1">Applications Requested</h2>
        <h3 class="mat-title">Select the following options</h3>
        <div class="flex-container">
          <!-- For some reason need to also apply to parent in order for this style to work, access-option-button -->
          <div class="flex-column active-directory-button">
            <mat-button-toggle
              id="internetApplication"
              class="active-directory-button"
              [checked]="internetApplication"
              (change)="onButtonChange($event, 'Internet Access')"
              >Internet Access
            </mat-button-toggle>
          </div>
          <div class="flex-column active-directory-button">
            <mat-button-toggle
              id="exchangeEmail"
              class="active-directory-button"
              [checked]="exchangeEmail"
              (change)="onButtonChange($event, 'Email Account')"
              >Email Account</mat-button-toggle
            >
          </div>
          <div class="flex-column active-directory-button">
            <mat-button-toggle
              id="emailEncryption"
              class="active-directory-button"
              [checked]="emailEncryption"
              (change)="onButtonChange($event, 'Email Encryption')"
              >Email Encryption</mat-button-toggle
            >
          </div>
        </div>
        <div class="flex-container">
          <div class="flex-column active-directory-button">
            <mat-button-toggle
              id="laCountyGovAccess"
              class="active-directory-button"
              [checked]="laCountyGovAccess"
              (change)="onButtonChange($event, 'LA County Access')"
              >LACounty.gov Access</mat-button-toggle
            >
          </div>
          <div class="flex-column active-directory-button">
            <mat-button-toggle
              id="tokenlessAuthentication"
              class="active-directory-button"
              [checked]="tokenlessAuthentication"
              (change)="onButtonChange($event, 'Tokenless Authentication')"
              >Tokenless Authentication</mat-button-toggle
            >
          </div>
          <div class="flex-column active-directory-button">
            <mat-button-toggle
              id="lacMobileWifiAccess"
              class="active-directory-button"
              [checked]="lacMobileWifiAccess"
              (change)="onButtonChange($event, 'LAC Mobile')"
              >LACMobile</mat-button-toggle
            >
          </div>
        </div>
        <div class="flex-container">
          <div class="flex-column active-directory-button">
            <mat-button-toggle
              id="cherwellSms"
              class="active-directory-button"
              [checked]="cherwellSms"
              (change)="onButtonChange($event, 'Cherwell SMS')"
              >Cherwell SMS</mat-button-toggle
            >
          </div>
          <div class="flex-column active-directory-button">
            <mat-button-toggle
              id="windowsRightsMgmt"
              class="active-directory-button"
              [checked]="windowsRightsMgmt"
              (change)="onButtonChange($event, 'Windows Rights Management')"
              >Window Rights Management</mat-button-toggle
            >
          </div>
          <!-- This is a spacer to help align items properly -->
          <div class="flex-column"></div>
        </div>
        <!-- <button (click)="sampleFunction()">Test</button> -->
        <div class="active-directory-button-container">
          <button mat-raised-button matStepperPrevious>Previous</button>
          <button
            mat-raised-button
            matStepperNext
            color="primary"
            class="ml-2"
          >
            Next
          </button>
          <span class="spacer"></span>
          <button
            id="access-info-save-btn"
            mat-raised-button
            class="save-button"
            color="accent"
            (click)="save()"
          >
            Save
          </button>
        </div>
      </div>      
    </mat-step>

    <!-- Manager -->
    <mat-step formGroupName="managerInformation" [stepControl]="approval.get('managerInformation')">
      <ng-template  matStepLabel>Manager</ng-template>
      <h2 class="mat-display-1" style="margin-bottom: 32px">Manager's Contact Information</h2>
      <div>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Manager's First Name</mat-label>
          <input matInput formControlName="managerFirstName" />
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Manager's Last Name</mat-label>
          <input matInput formControlName="managerLastName" />
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Manager's Phone #</mat-label>
          <input matInput formControlName="managerPhone" />
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Manager's Email</mat-label>
          <input matInput formControlName="managerEmail" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-input-width">
          <mat-label>Manager's Title</mat-label>
          <input matInput formControlName="managerTitle" />
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-raised-button matStepperPrevious>Previous</button>
        <button
          mat-raised-button
          matStepperNext
          color="primary"
          class="ml-2"
        >
          Next
        </button>
        <span class="spacer"></span>
        <button id="employee-info-save-btn" mat-raised-button class= "save-button " color="accent" (click) = "save()">
          Save
        </button>
      </div>
    </mat-step>

    <!-- Signatures-->
    <mat-step formGroupName="signatures" [stepControl]="approval.get('signatures')">
      <ng-template matStepLabel>Approvers</ng-template>
      <div>
        <h2 class="mat-display-1">Signatures</h2>
        <h3 class="mat-title">Select the following for signatures</h3>
        <div class="dropdown-container">
          <div class="dropdown-divChief">
             
            <mat-form-field appearance="outline" class="mat-input-width">
              <mat-label>Division Chief Manager</mat-label>
              <mat-select formControlName ="divChiefManagerName">
                <mat-option [value]="null"
                (click)="setSelectedValue('divisionChief', null)">None</mat-option>
                <mat-option *ngFor="let food of divCheifList" [value]="food.name" 
                (click)="setSelectedValue('divisionChief', food.id)">
                  {{food.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          
          </div>
          <div class="dropdown-deptHead">
             
            <mat-form-field appearance="outline" class="mat-input-width">
              <mat-label>Department Head</mat-label>
              <mat-select formControlName ="departmentHeadName">
                <mat-option [value]="null"
                (click)="setSelectedValue('departmentHead', null)">None</mat-option>
                <mat-option *ngFor="let food of deptHeadList" [value]="food.name"
                (click)="setSelectedValue('departmentHead', food.id)">
                  {{food.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="dropdown-appCoord">
            <mat-form-field appearance="outline" class="mat-input-width">
              <mat-label>Application Coordinator</mat-label>
              <mat-select formControlName ="applicationCoordinatorName">
                <mat-option [value]="null"
                (click)="setSelectedValue('appCoord', null)">None</mat-option>
                <mat-option *ngFor="let food of appCoordList" [value]="food.name"
                (click)="setSelectedValue('appCoord', food.id)">
                  {{food.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="dropdown-deptInfo">
             
            <mat-form-field appearance="outline" class="mat-input-width">
              <mat-label>Dept. Info Sec. Officer</mat-label>
              <mat-select formControlName ="deptInfoSecurityOfficerName">
                <mat-option [value]="null"
                (click)="setSelectedValue('deptInfo', null)">None</mat-option>
                <mat-option *ngFor="let food of deptInfoList" [value]="food.name"
                (click)="setSelectedValue('deptInfo', food.id)">
                  {{food.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="button-container">
        <button mat-raised-button matStepperPrevious>Previous</button>
        <button mat-raised-button matStepperNext color="primary" class="ml-2">
          Next
        </button>
        <span class="spacer"></span>
        <button
          id="employee-info-save-btn"
          mat-raised-button
          class="save-button"
          color="accent"
          (click)="save() "
        >
          Save
        </button>
      </div>
    </mat-step>

    <!-- Submit -->
    <mat-step>
      <ng-template matStepLabel>Start Adobe Process</ng-template>
      <div>
        <h2 class="mat-display-1">Start Adobe Sign process</h2>
        <div class="button-container">
          <button mat-raised-button matStepperPrevious>Previous</button>
          <button mat-raised-button matStepperNext color="primary" class="ml-2">
            Next
          </button>
          <span class="spacer"></span>
          <button class="submit"
            id="employee-info-save-btn"
            mat-raised-button
            class="save-button"
            color="warn"
            (click)="startAdobeProcess()"
          >
            Submit
          </button>
        </div>
      </div>

    </mat-step>
  </mat-horizontal-stepper>
</form>

<!-- Loading page -->
<ng-container *ngIf="isLoading">
  <app-loading-page></app-loading-page>
</ng-container>