.title-text-format{
  font-size: clamp(10px, 1.5vw, 60px);
  margin: 0px auto;
  width:fit-content;
  font-family: sans-serif;
  color: rgb(14, 14, 14);
  font-weight: 400;
}

.input-text-title-format{
  font-size: clamp(10px, 1vw, 50px);
  font-family: sans-serif;
  font-weight: 400;
  color: rgb(14, 14, 14);
}
.input-container-format{
  background-color: rgb(223, 223, 223);
  border: transparent;
  font-size: clamp(5px, 1vw, 40px);
  border-radius: 5px;
  color: rgb(14, 14, 14);
  font-family: sans-serif;
  font-weight: 400;
  width: min(20vw, 800px);
  height: min(2.5vw, 100px);
  text-align: center;
}

.input-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: min(2vw, 80px);

}

.spacer {
  flex: 1 1 auto;
}

.next-button{
  background-color: #707070;
  border-color: transparent;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  padding:5px 10px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 40px);
}
.previous-button{
  background-color: #707070;
  border-radius: 6px;
  border-color: transparent;
  color: rgb(255, 255, 255);
  padding:5px 10px;
  margin-right: 5px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 40px);
}
.save-button{
  background-color: #707070;
  border-radius: 6px;
  border-color: transparent;
  color: rgb(255, 255, 255);
  padding:5px 10px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 40px);
}

.button-container {
  display: flex;
  flex-direction: row;
}