<div [formGroup]="form">
  <div class="title-text-format">
  Manager's Contact Information
  </div>
  <div formGroupName="managerInformation" class="flex-container">
    <div class="input-container">
      <div class="input-text-title-format">Manager's First Name</div>
      <input class="input-container-format" formControlName="managerFirstName" />
    </div>
    <div class="input-container">
      <div class="input-text-title-format">Manager's Last Name</div>
      <input class="input-container-format" formControlName="managerLastName" />
    </div>
    <div class="input-container">
      <div class="input-text-title-format">Manager's Phone #</div>
      <input class="input-container-format" formControlName="managerPhone" />
    </div>
    <div class="input-container">
      <div class="input-text-title-format">Manager's Email</div>
      <input class="input-container-format" formControlName="managerEmail" />
    </div>
  </div>
  <!-- Previous/Next Buttons -->
  <div>
    <button matStepperPrevious class="previous-button">Previous</button>
    <button matStepperNext class="next-button" (click)="printForm()">
      Next
    </button>
  </div>
</div>
