.bottom-navbar-container{
    display: flex;
    flex-direction: row;
    background-color: #323F4B;
    justify-content: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.nav-buttons{
    background-color: transparent;
    border-color: transparent;
    color: rgb(255, 255, 255);
}

.logout-button{
    border-color: transparent;
    background-color: transparent;
    border-radius: 3px;
    font-size: 12px;
    font-family:sans-serif;
}

.service-request-logo{
    height: auto;
    width: min(50vw, 30px);
}

.employee-form-logo{
    height: auto;
    width: min(50vw, 30px);
}

.logout-logo{
    height: auto;
    width: min(50vw, 30px);
}

.new-admin-logo{
    height: auto;
    width: min(50vw, 30px);
}

.reset-logo{
    height: auto;
    width: min(50vw, 30px);
}

.button-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-under-button{
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

.admin-login-logo{
    height: auto;
    width: min(50vw, 30px);
}