<div>
  <h2 class="mat-display-1" style="margin-bottom: 32px">Internet Access</h2>
  <!-- Information -->
  <div>
    <br />
    <h5><u>Policy Rules Descriptions:</u></h5>
    <p>
      <small
        ><b>Countywide Policy A:</b> Allow access to all categories -except bad
        Categories<br />
        <b>Countywide Policy B:(default)</b>No access to sites/domains that are
        categorized as Adult Content, Gaming, Dating + additional categories
        such as Hacking, Proxy Avoidance, Remote Access Tools, and Bad
        Categories<br />
        <br />
      </small>
    </p>
  </div>

  <!-- First Row -->
  <div class="flex-container">
    <!-- For some reason need to also apply to parent in order for this style to work, access-option-button -->
    <div class="flex-column access-option-button">
      <mat-button-toggle
        id="countyWidePolicyA"
        class="access-option-button"
        [checked]="countyWidePolicyA"
        (change)="onButtonChange($event, 'Countywide Policy A')"
        >Countywide Policy A
      </mat-button-toggle>
    </div>
    <div class="flex-column access-option-button">
      <mat-button-toggle
        id="countyWidePolicyB"
        class="access-option-button"
        [checked]="countyWidePolicyB"
        (change)="onButtonChange($event, 'Countywide Policy B')"
        >Countywide Policy B</mat-button-toggle
      >
    </div>
  </div>
  <div>
    <br />
    <p>
      <small>
        <span style="color: red">Please Note: </span>
        <span>
          <ul>
            <li>
              Bad Categories (Malicious, Outbound Data/Botnets, Malicious
              Sources/Malnets,Phishing, and Spam) are Blocked regardless of
              Policy Rule level - exemptions can be made with proper DISO/CISO
              approval
            </li>
            <li>
              Access to Personal Webmail cuch as Yahoo, Gmail, AOL, ect., is
              BLOCKED countywide - exemptions can be made with selection and
              justification indicated below
            </li>
          </ul>
        </span>
      </small>
    </p>
  </div>
  <!-- Second row -->
  <div class="flex-container">
    <div class="flex-column access-option-button">
      <mat-button-toggle
        id="allWebmail"
        class="access-option-button"
        [checked]="allWebmail"
        (change)="onButtonChange($event, 'ALL Webmail')"
        >All Webmail</mat-button-toggle
      >
    </div>
    <div class="flex-column access-option-button">
      <mat-button-toggle
        id="streamMedia"
        class="access-option-button"
        [checked]="streamMedia"
        (change)="onButtonChange($event, 'Stream Media')"
        >Stream Media</mat-button-toggle
      >
    </div>
  </div>
  <!--Third Row-->
  <div class="flex-container">
    <div class="flex-column">
      <mat-form-field>
        <mat-label>*Business justification: </mat-label>
        <input id="justification" matInput />
      </mat-form-field>
    </div>
  </div>
  <div class="button-container">
    <button mat-raised-button matStepperPrevious>Previous</button>
    <button
      mat-raised-button
      matStepperNext
      color="primary"
      class="ml-2"
      (click)="printForm()"
    >
      Next
    </button>
  </div>
</div>
