<div>
  <div class="title-text-format">Internet Access</div>
  <!-- Information -->
  <div>
    <div class="title-text-format2">Policy Rules Descriptions:</div>
    <p class="paragraph-text-format">
        <b>Countywide Policy A:</b> Allow access to all categories -except bad
        Categories<br />
        
        <b>Countywide Policy B:(default)</b>No access to sites/domains that are
        categorized as Adult Content, Gaming, Dating + additional categories
        such as Hacking, Proxy Avoidance, Remote Access Tools, and Bad
        Categories<br />
        <br />
    </p>
  </div>

  <!-- First Row -->
  <div class="button-flex-container">
    <!-- For some reason need to also apply to parent in order for this style to work, button-format -->
      <mat-button-toggle
        id="countyWidePolicyA"
        class="button-format"
        [checked]="countyWidePolicyA"
        (change)="onButtonChange($event, 'Countywide Policy A')"
        >Countywide Policy A</mat-button-toggle>
      <mat-button-toggle
        id="countyWidePolicyB"
        class="button-format"
        [checked]="countyWidePolicyB"
        (change)="onButtonChange($event, 'Countywide Policy B')"
        >Countywide Policy B</mat-button-toggle
      >
    </div>
  <div>
    <br />
    <p>
      <small>
        <span class="attention-warning-format">Please Note: </span>
        <span class="paragraph-text-format">
          <ul>
            <li>
              Bad Categories (Malicious, Outbound Data/Botnets, Malicious
              Sources/Malnets,Phishing, and Spam) are Blocked regardless of
              Policy Rule level - exemptions can be made with proper DISO/CISO
              approval
            </li>
            <li>
              Access to Personal Webmail cuch as Yahoo, Gmail, AOL, ect., is
              BLOCKED countywide - exemptions can be made with selection and
              justification indicated below
            </li>
          </ul>
        </span>
      </small>
    </p>
  </div>
  <!-- Second row -->
  <div class="button-flex-container">
      <mat-button-toggle
        id="allWebmail"
        class="button-format"
        [checked]="allWebmail"
        (change)="onButtonChange($event, 'ALL Webmail')"
        >All Webmail</mat-button-toggle
      >
      <mat-button-toggle
        id="streamMedia"
        class="button-format"
        [checked]="streamMedia"
        (change)="onButtonChange($event, 'Stream Media')"
        >Stream Media</mat-button-toggle
      >
  </div>
  <!--Third Row-->
      <div class="input-flex">
        <mat-label class="text-color" class="title-text-format3">*Business justification: </mat-label>
        <input id="justification" matInput class="input-container"/>
      </div>
  <div class="button-container">
    <button matStepperPrevious class="previous-button">Previous</button>
    <button
      matStepperNext
      class="next-button"
      (click)="printForm()"
    >
      Next
    </button>
  </div>
</div>
