.next-button{
  background-color: #000000;
  border-radius: 6px;
  border: 1px solid black;
  color: rgb(255, 223, 155);
  padding:5px 10px;
  font-family: sans-serif;
  font-weight: 200px;
  font-size: 40px;
}
.previous-button{
  background-color: #000000;
  border-radius: 6px;
  border: 1px solid black;
  color: rgb(255, 138, 138);
  padding:5px 10px;
  margin-right: 5px;
  font-family: sans-serif;
  font-weight: 200px;
  font-size: 40px;
}
.save-button{
  background-color: #000000;
  border-radius: 6px;
  border: 1px solid black;
  color: rgb(93, 119, 153);
  padding:5px 10px;
  font-family: sans-serif;
  font-weight: 200px;
  font-size: 40px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.title-text-format{
  font-size:  60px;
  margin: 0px 0px 10px 0px;
  font-family: sans-serif;
  width: fit-content;
  height: fit-content;
  font-weight: 400px;
}

.title-text-format2{
  font-size:  50px;
  margin: 0px 0px 10px 0px;
  font-family: sans-serif;
  width: fit-content;
  height: fit-content;
  font-weight: 400px;
}

.paragraph-text-format{
  font-size:  30px;
  font-family: sans-serif;
  width: fit-content;
  height: fit-content;
  font-weight: 200px;
}

.tab-text-format{
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 200px;
}

.attention-warning-format{
  color: rgb(255, 92, 92);
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 100px;
}

.button-flex-container{
  display: flex;
  margin: 5px auto;
  width: fit-content;
  gap: 200px;
}

.button-format{
  background-color: white;
  border-radius: 12px;
  border-color: transparent;
  font-size: 30px;
  width: 400px;
  height: fit-content;
  padding: 30px 0px;
}

.input-container{
  width: 300px;
  font-size: 30px;
  background-color: #000000;
  border: 1px solid transparent;
  border-bottom: 1px solid white;
  border-radius: 6px 6px 0px 0px;
  color: white;
}

.title-text-format3{
  font-size: 20px;
}

.input-flex{
  display: flex;
  flex-direction: column;
}