.next-button{
  background-color: #000000;
  border-radius: 6px;
  border: 1px solid black;
  color: rgb(255, 223, 155);
  padding:5px 10px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 40px);
}
.previous-button{
  background-color: #000000;
  border-radius: 6px;
  border: 1px solid black;
  color: rgb(255, 138, 138);
  padding:5px 10px;
  margin-right: 5px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 40px);
}
.save-button{
  background-color: #000000;
  border-radius: 6px;
  border: 1px solid black;
  color: rgb(93, 119, 153);
  padding:5px 10px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 40px);
}


.button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.title-text-format{
  font-size: clamp(10px, 1.5vw, 60px);
  margin:10px auto;
  width:fit-content;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.title-text-format2{
  font-size: clamp(10px, 1.5vw, 60px);
  margin: 0px 0px 10px 0px;
  font-family: sans-serif;
  width: fit-content;
  height: fit-content;
  font-weight: 400;
}

.paragraph-text-format{
  font-size: clamp(3px, 0.8vw, 30px);
  font-family: sans-serif;
  width: fit-content;
  height: fit-content;
  font-weight: 400;
}

.tab-text-format{
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
}

.attention-warning-format{
  color: rgb(255, 92, 92);
  font-size: clamp(10px, 1vw, 30px);
  font-family: sans-serif;
  font-weight: 400;
}

.button-flex-container{
  display: flex;
  margin: 5px auto;
  width: fit-content;
  gap: 200px;
}

.button-format{
  background-color: rgb(0, 0, 0);
  border-radius: 12px;
  border-color: transparent;
  font-size: clamp(5px, 1vw, 30px);
  width: min(15vw, 400px);
  height: min(15vw, 100px);
  color: white;
  margin-bottom: 20px;
}

.input-container{
  width: min(10vw, 300px);
  font-size: clamp(10px, 1vw, 30px);
  background-color: #000000;
  border: 1px solid transparent;
  border-bottom: 1px solid white;
  border-radius: 6px 6px 0px 0px;
  color: white;
}

.title-text-format3{
  font-size: clamp(5px, 1vw, 20px);
}

.input-flex{
  display: flex;
  flex-direction: column;
}