.approvers-container{
    background-color: rgb(188, 188, 188);
    box-shadow: 10px 10px 10px rgb(158, 158, 158);
  border-radius: 6px;
  border-color: transparent;
  margin: 0px auto;
  margin-top: min(2vw, 50px);
  width: fit-content;
  height: fit-content;
}