<div class="container">
    <mat-card class="approvers-container">
        <div class="container-title">Approvers</div>
        <mat-tab-group mat-align-tabs="center" dynamicHeight (selectedTabChange)="clear()">
            <mat-tab class="tab-text-format" label="New Approvers">
                    <div class="card-title">Create a new approver</div>
                    <div class="new-approver-text"
                     role="alert"
                     *ngIf="sucess"
                     > New approver added!
                    </div>

                    <div>
                        <form class="flex-container" [formGroup] = "newApprover">
                            <div class="input-container">
                              <div class="input-text-title-format">Name</div>
                                <mat-select class="input-format" [(value)]="selected">
                                  <mat-option *ngFor="let selectedRole of roles" [value]="selectedRole">
                                    {{selectedRole}}
                                  </mat-option>
                                </mat-select>
                            </div>
                            <div class="input-container">
                                <div class="input-text-title-format">Full Name</div>
                                <input class="input-format"
                                formControlName="name" 
                                
                                required />
                            </div>
                            <div class="input-container">           
                                <div class="input-text-title-format">Phone Number</div>          
                                <input class="input-format"
                                 formControlName="phone" 
                                
                                required />
                            </div>
                            <div class="input-container">
                                <div div class="input-text-title-format">Email</div>
                                <input class="input-format"
                                formControlName="email"
                                  
                                required />
                            </div>
                            <div class="button-container">
                                <button class="add-button-format" (click)="add()" [disabled]="!newApprover.valid">Add</button>
                                <button class="clear-button-format" (click)="clear()" >Clear</button>
                            </div>
                        </form>
                    </div>
            </mat-tab>
            <mat-tab label="Existing Approvers">
                <div class="flex-container">
                    <div class="card-title">Edit details or delete current approvers</div>
                    <div class="error-message position-fixed"
                    class="alert alert-success"
                    role="alert"
                    *ngIf="deleted"
                    >Approver deleted!
                   </div>
                   <div class="error-message position-fixed"
                   class="alert alert-success"
                   role="alert"
                   *ngIf="updated"
                   >Approver info updated!
                  </div>
                    <div class="flex-container">
                        <div appearance="outline"class="flex-container">
                            <div class="input-text-title-format">Approver role</div>
                            <mat-select class="input-format" [(value)]="selectedRole" (selectionChange)="setInput()">
                              <mat-option>None</mat-option>
                              <mat-option *ngFor="let role of roles" [value]="role">
                                {{role}}
                              </mat-option>
                            </mat-select>
                          </div>
                    </div>
                    <div  *ngIf="selectedRole==='Division Chief Manager'">
                        <div appearance="outline" class="flex-container">
                            <div>Division Chief Manager Name</div>
                            <mat-select class="input-format" [(value)]="selectedDiv" (selectionChange)="setInput()">
                              <mat-option>None</mat-option>
                              <mat-option *ngFor="let role of divChief" [value]="role.id">
                                {{role.name}}
                              </mat-option>
                            </mat-select>
                        </div>
                        <div *ngIf="selectedDiv">
                            <form class="flex-container" [formGroup] = "existingApprover">
                                <div  appearance="outline"class="flex-container">
                                    <div class="input-text-title-format">Name</div>
                                    <input class="input-format" class="input-format"  appearance="outline" 
                                    formControlName="name"
                                    required
                                    
                                    />
                                  </div>
                                  <div appearance="outline"class="flex-container">
                                    <div class="input-text-title-format">Phone</div>
                                    <input class="input-format" class="input-format"  formControlName="phone" 
                                    required
                                    />
                                  </div>
                                  <div  appearance="outline"class="flex-container">
                                    <div class="input-text-title-format">Email</div>
                                    <input class="input-format" class="input-format" formControlName="email"
                                    required 
                                    />
                                  </div>
                                  <div class="button-container">
                                    <button class="update-button-format" (click)="edit()" >Update</button>
                                    <button class="delete-button-format" (click)="deleteSelection()">Delete</button>
                                </div>
                            </form>
  

                        </div>

                    </div>

                    <div class="div-chief" *ngIf="selectedRole==='Department Head'">
                        <div appearance="outline"class="flex-container">
                            <div class="input-text-title-format">Department Head Name</div>
                            <mat-select class="input-format" [(value)]="selectedDeptHead" (selectionChange)="setInput()">
                              <mat-option>None</mat-option>  
                              <mat-option *ngFor="let role of deptHead" [value]="role.id">
                                {{role.name}}
                              </mat-option>
                            </mat-select>
                        </div>
                        <div *ngIf="selectedDeptHead">

                            <form class="flex-container" [formGroup] = "existingApprover">
                                <div  appearance="outline"class="flex-container">
                                    <div class="input-text-title-format">Name</div>
                                    <input class="input-format"  appearance="outline" 
                                    formControlName="name"
                                    required
                                    
                                    />
                                  </div>
                                  <div appearance="outline"class="flex-container">
                                    <div class="input-text-title-format">Phone</div>
                                    <input class="input-format"  formControlName="phone"
                                    required
                                     />
                                  </div>
                                  <div  appearance="outline"class="flex-container">
                                    <div class="input-text-title-format">Email</div>
                                    <input class="input-format" formControlName="email"
                                    required 
                                     />
                                  </div>
                                  <div class="button-container">
                                    <button class="update-button-format" (click)="edit()" >Update</button>
                                    <button class="delete-button-format" (click)="deleteSelection()">Delete</button>
                                </div>
                            </form>
  

                        </div>

                    </div>


                    <div class="div-chief" *ngIf="selectedRole==='Application Coordinator'">
                        <div appearance="outline"class="flex-container">
                            <div class="input-text-title-format">Application Coordinator Name</div>
                            <mat-select class="input-format" [(value)]="selectedAppCoord" (selectionChange)="setInput()">
                              <mat-option>None</mat-option>  
                              <mat-option *ngFor="let role of appCoord" [value]="role.id">
                                {{role.name}}
                              </mat-option>
                            </mat-select>
                        </div>
                        <div *ngIf="selectedAppCoord">

                            <form class="flex-container" [formGroup] = "existingApprover">
                                <div  appearance="outline"class="flex-container">
                                    <div class="input-text-title-format">Name</div>
                                    <input class="input-format"  appearance="outline" 
                                    formControlName="name"
                                    required
                                    
                                    />
                                  </div>
                                  <div appearance="outline"class="flex-container">
                                    <div class="input-text-title-format">Phone</div>
                                    <input class="input-format"  formControlName="phone"
                                    required
                                     />
                                  </div>
                                  <div  appearance="outline"class="flex-container">
                                    <div class="input-text-title-format">Email</div>
                                    <input class="input-format" formControlName="email" 
                                    required
                                     />
                                  </div>
                                  <div class="button-container">
                                    <button class="update-button-format" (click)="edit()" >Update</button>
                                    <button class="delete-button-format" (click)="deleteSelection()">Delete</button>
                                </div>
                            </form>
  

                        </div>

                    </div>

                    <div class="div-chief" *ngIf="selectedRole==='Department Info Security Officer'">
                        <div appearance="outline"class="flex-container">
                            <div class="input-text-title-format">Department Info Security Officer Name</div>
                            <mat-select class="input-format" [(value)]="selectedDeptInfo" (selectionChange)="setInput()">
                              <mat-option>None</mat-option>  
                              <mat-option *ngFor="let role of deptInfo" [value]="role.id">
                                {{role.name}}
                              </mat-option>
                            </mat-select>
                        </div>
                        <div *ngIf="selectedDeptInfo">

                            <form class="flex-container" [formGroup] = "existingApprover">
                                <div  appearance="outline"class="flex-container">
                                    <div class="input-text-title-format">Name</div>
                                    <input class="input-format"  appearance="outline" 
                                    formControlName="name"
                                    required
                                    
                                    />
                                  </div>
                                  <div appearance="outline"class="flex-container">
                                    <div class="input-text-title-format">Phone</div>
                                    <input class="input-format"  formControlName="phone"
                                    required
                                     />
                                  </div>
                                  <div  appearance="outline"class="flex-container">
                                    <div class="input-text-title-format">Email</div>
                                    <input class="input-format" formControlName="email"
                                    required
                                     />
                                  </div>
                                  <div class="button-container">
                                    <button class="update-button-format" (click)="edit()" >Update</button>
                                    <button class="delete-button-format" (click)="deleteSelection()">Delete</button>
                                </div>
                            </form>
  

                        </div>

                    </div>

                </div>
            </mat-tab>
        </mat-tab-group>


    </mat-card>
</div>    