/* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  } */

.full-width {
  width: 100%;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: rgb(255, 204, 1) !important;
  color: red !important;
}
