.admin-login-container.light-mode{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;


  .max-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: min(4vw, 180px) auto min(12vw,500px);
    border-radius: 12px;
    padding: min(1vw, 60px) min(1vw, 30px);
    width: fit-content;
    background-color: transparent;
    text-shadow: 5px 5px 10px black;
  }

  .logo{
    width: min(50vw, 2000px);
    
  }

  .login-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: min(1vw, 100px) min(2vw, 160px);
    border-radius: 12px;
    box-shadow: 10px 10px 10px black;
    background-color: rgb(188, 188, 188);
  }

  .greetings{
    font-size: clamp(40px, 2vw, 100px);
    color: black;
    font-family: sans-serif;
    font-weight: 300;
  }

  .email-input-text-box{ 
    border-color: transparent;
    border-radius: 3px;
    background-color: rgb(159, 159, 159);
    font-size: clamp(6px,0.9vw, 50px);
    font-family: sans-serif;
    margin: min(2vw, 400px) auto min(1vw, 50px);
    font-weight: 500;
    color: black;
  }

  .password-input-text-box{ 
  border-color: transparent;
    border-radius: 3px;
    background-color: grey;
    font-size: clamp(6px,0.9vw, 50px);
    margin: 0 auto min(1vw, 200px);
    font-family: sans-serif;
    font-weight: 500;
    color: black;
  }

  .login-button{
    color: black;
    background-color: white;
    border-color: transparent;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: clamp(6px, 1vw, 50px);
    font-weight: 500;
  }

  .top-text-format{
    color: rgb(48, 48, 48);
    font-size: 48px;
    font-weight: 300;
    font-family: sans-serif;
  }

  .bottom-text-format{
    color: rgb(48, 48, 48);
    font-size: 80px;
    font-weight: 500;
    font-family: sans-serif;
  }
}

.admin-login-container.dark-mode{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;


  .max-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: min(4vw, 180px) auto min(12vw,500px);
    border-radius: 12px;
    padding: min(1vw, 60px) min(1vw, 30px);
    width: fit-content;
    background-color: transparent;
    text-shadow: 5px 5px 10px black;
  }

  .logo{
    width: min(50vw, 2000px);
    
  }

  .login-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: min(1vw, 100px) min(2vw, 160px);
    border-radius: 12px;
    box-shadow: 10px 10px 20px black;
    background-color: rgb(29, 29, 29);
  }

  .greetings{
    font-size: clamp(40px, 2vw, 100px);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 300;
  }

  .email-input-text-box{ 
    border-color: transparent;
    border-radius: 3px;
    background-color: #8a8a8a;
    font-size: clamp(6px,0.9vw, 50px);
    font-family: sans-serif;
    margin: min(2vw, 400px) auto min(1vw, 50px);
    font-weight: 500;
    color: black;
  }

  .password-input-text-box{ 
  border-color: transparent;
    border-radius: 3px;
    background-color: #8a8a8a;
    font-size: clamp(6px,0.9vw, 50px);
    margin: 0 auto min(1vw, 200px);
    font-family: sans-serif;
    font-weight: 500;
    color: black;
  }

  .login-button{
    color: rgb(255, 217, 0);
    background-color: #000000;
    border-color: transparent;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: clamp(6px, 1vw, 50px);
    font-weight: 500;
  }

  .top-text-format{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 300;
    font-family: sans-serif;
  }

  .bottom-text-format{
    color: #ffffff;
    font-size: 80px;
    font-weight: 500;
    font-family: sans-serif;
  }
}

@media (max-width: 800px){
  .admin-login-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .max-logo{
    margin: 50px 0pc 120px;
    background-color: #CBD2D9;
    border-radius: 0px;
    padding: 15px;
  }
  
  .logo{
    max-width: 100%;
  }
  
  .login-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.144);
    padding: 30px 20px;
    border-radius: 2px;
    width: 100%;
  }
  
  .greetings{
    font-size: 40px;
    color: white;
    font-family: sans-serif;
  }
  
  .email-input-text-box{ 
    border: 1px solid black;
    border-radius: 6px;
    font-size: 22px;
    font-family: sans-serif;
    width: 350px;
    height: 50px;
    margin: 30px 0px 10px;
  }
  
  .password-input-text-box{ 
    border: 1px solid black;
    border-radius: 6px;
    font-size: 22px;
    width: 350px;
    margin: 20px 0px 30px;
    height: 50px;
    font-family: sans-serif;
  }
  
  .login-button{
    border-color: transparent;
    background-color: #ffffff;
    color: white;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: clamp(10px, 2vw, 30px);
  }
}