
  <div class="fullscreen-whole" *ngIf="route.children.length === 0" >
    <div class="home-screen-block layout">
      <div class="home-screen-flex1 layout">
        <div class="home-screen-flex1-spacer"></div>
        <div class="home-screen-flex layout">
          <div class="home-screen-cover-block1 layout">
            <div
              style="--src:url(/assets/ef9f96a24793db6094814339d3c04ea9.png)"
              class="home-screen-image layout"
            ></div>
          </div>
          <div class="home-screen-cover-group layout">
            <form class="home-screen-flex2 layout" [formGroup]="formLogin">
              <div class="text-format">Welcome</div>

              <input class="home-screen-box3 layout"
              [type]="hide ? 'username' : 'text'"
              placeholder="username"
              formControlName="username"
              >
              <input class="home-screen-box3 layout1"
              [type]="hide ? 'password' : 'text'"
              placeholder="password"
              formControlName="password">
              <div class="home-screen-cover-block layout">
                <button class="home-screen-medium-title layout" [disabled]="isLoading" (click)="adminLogin()">Login</button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>



<router-outlet></router-outlet>

