.admin-login-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.max-logo{
  background-color: #829AB1;
  margin: 40px auto 150px;
  border-radius: 6px;
  padding: 15px;
}

.logo{
  height: 220px;
}

.login-input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #829AB1;
  padding: 20px 40px;
  border-radius: 6px;
}

.greetings{
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.email-input-text-box{ 
  border-color: transparent;
  margin: 10px;
  border-radius: 3px;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.password-input-text-box{ 
  border-color: transparent;
  margin: 10px;
  border-radius: 3px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.login-button{
  border-color: transparent;
  background-color: #334E68;
  color: white;
  border-radius: 3px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}