<div *ngIf="route.children.length === 0" class="admin-login-container {{storedTheme}}">
  <div class="max-logo">
    <div class="top-text-format">Law Offices of Los Angeles County</div>
    <div class="bottom-text-format">PUBLIC DEFENDER</div>
  </div>
  <form class="login-input-container" [formGroup]="formLogin">
    <div class="greetings">Welcome</div>

    <input class="email-input-text-box"
    [type]="hide ? 'email' : 'text'"
    placeholder="email"
    formControlName="email"
    >
    <input class="password-input-text-box"
    [type]="hide ? 'password' : 'text'"
    placeholder="password"
    formControlName="password">
    <button class="login-button" [disabled]="isLoading" (click)="adminLogin()">Login</button>

    </form>
</div>


<router-outlet></router-outlet>