/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.home-screen-block {
  display: flex;
  background-color: #7ae5fb;
  border-width: 0px; }

.home-screen-block.layout {
  position: relative;
  overflow: hidden;
  min-height: 720px;
  flex-shrink: 0;
  flex-grow: 1; }

.home-screen-flex1 {
  display: flex;
  flex-direction: column; }

.home-screen-flex1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1;
  margin: 6px 9px; }

.home-screen-flex {
  display: flex;
  flex-direction: column; }

.home-screen-flex.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 79.79%;
  margin: 24px auto 26px; }

.home-screen-cover-block1 {
  display: flex;
  background-color: rgba(0, 172, 226, 0.505);
  border-radius: 20px 20px 20px 20px; }

.home-screen-cover-block1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.home-screen-image {
  background: var(--src) center center/contain no-repeat; }

.home-screen-image.layout {
  position: relative;
  height: 190px;
  width: 83.32%;
  margin: 34px 9.24% 34px 7.45%; }

.home-screen-cover-group {
  display: flex;
  background-color: rgba(0, 184, 255, 0.09);
  border-radius: 19px 19px 19px 19px; }

.home-screen-cover-group.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 37.54%;
  margin: 64px auto 0px; }

.home-screen-flex2 {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 172, 226, 0.419);
  border-radius: 19px 19px 19px 19px; }

.home-screen-flex2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1; }

.home-screen-image1 {
  background: var(--src) center center/contain no-repeat;
  border-width: 0px; }

.home-screen-image1.layout {
  position: relative;
  height: 74px;
  width: 61.64%;
  margin: 6px auto 0px; }

.home-screen-box3 {
  background-color: white; }

.home-screen-box3.layout {
  position: relative;
  height: 41px;
  width: 73.81%;
  margin: 16px auto 0px; }

.home-screen-box3.layout1 {
  position: relative;
  height: 41px;
  width: 73.81%;
  margin: 22px auto 0px; }

.home-screen-cover-block {
  display: flex;
  background-color: #1fc1f5; }

.home-screen-cover-block.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 110px;
  min-width: 110px;
  margin: 22px auto 24px; }

.home-screen-medium-title {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Abel", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px; }

.home-screen-medium-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-grow: 1;
  margin: 0px 22.5px 1px; }
