<div>
  <h2 class="mat-display-1" style="margin-bottom: 32px">
    Applications Requested
  </h2>
  <!-- Chiplist -->
  <!-- <div *ngIf="options.size" @myAnimation>
    <p id="hello">Options selected</p>
    <mat-chip-list class="example-chip">
      <mat-chip @myAnimation class="example-box" *ngFor="let option of options">
        {{ option }} <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <hr @myAnimation />
  </div> -->
  <h3 class="mat-title">Select the following options</h3>
  <div class="flex-container">
    <!-- For some reason need to also apply to parent in order for this style to work, access-option-button -->
  </div>
  <div class="flex-container">
    <div class="flex-column access-option-button">
      <mat-button-toggle
        id="laCountyGovAccess"
        class="access-option-button"
        [checked]="laCountyGovAccess"
        (change)="onButtonChange($event, 'LA County Access')"
        >LACounty.gov Access</mat-button-toggle
      >
    </div>
    <div class="flex-column access-option-button">
      <mat-button-toggle
        id="lacMobileWifiAccess"
        class="access-option-button"
        [checked]="lacMobileWifiAccess"
        (change)="onButtonChange($event, 'LAC Mobile')"
        >LACMobile</mat-button-toggle
      >
    </div>
    <div class="flex-column access-option-button">
      <mat-button-toggle
        id="o365Email"
        class="access-option-button"
        [checked]="o365Email"
        (change)="onButtonChange($event, 'O365 E-mail')"
        >O365 E-mail</mat-button-toggle
      >
    </div>
  </div>
  <!-- This is a spacer to help align items properly -->
  <div class="flex-column"></div>
</div>
<!-- <button (click)="sampleFunction()">Test</button> -->
<div class="button-container">
  <button mat-raised-button matStepperPrevious>Previous</button>
  <button
    mat-raised-button
    matStepperNext
    color="primary"
    class="ml-2"
    (click)="sampleFunction()"
  >
    Next
  </button>
  <span class="spacer"></span>
  <button
    id="access-info-save-btn"
    mat-raised-button
    class="save-button"
    color="accent"
    (click)="save()"
  >
    Save
  </button>
</div>
