<div>
  <div class="title-text-format">
    Applications Requested
  </div>
  <!-- Chiplist -->
  <!-- <div *ngIf="options.size" @myAnimation>
    <p id="hello">Options selected</p>
    <mat-chip-list class="example-chip">
      <mat-chip @myAnimation class="example-box" *ngFor="let option of options">
        {{ option }} <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <hr @myAnimation />
  </div> -->
  <div class="input-text-title-format">Select the following options</div>
  <div class="flex-container">
    <!-- For some reason need to also apply to parent in order for this style to work, button-format -->
  </div>
  <div class="flex-container">
    <div class="input-container">
      <button
        id="laCountyGovAccess"
        class="button-format"
        [checked]="laCountyGovAccess"
        (change)="onButtonChange($event, 'LA County Access')"
        >LACounty.gov Access</button
      >
    </div>
    <div class="input-container">
      <button
        id="lacMobileWifiAccess"
        class="button-format"
        [checked]="lacMobileWifiAccess"
        (change)="onButtonChange($event, 'LAC Mobile')"
        >LACMobile</button
      >
    </div>
    <div class="input-container">
      <button
        id="o365Email"
        class="button-format"
        [checked]="o365Email"
        (change)="onButtonChange($event, 'O365 E-mail')"
        >O365 E-mail</button
      >
    </div>
  </div>
  <!-- This is a spacer to help align items properly -->
  <div class="flex-column"></div>
</div>
<!-- <button (click)="sampleFunction()">Test</button> -->
<div class="button-container">
  <button matStepperPrevious class="previous-button">Previous</button>
  <button
    matStepperNext
    class="next-button"
    (click)="sampleFunction()"
  >
    Next
  </button>
  <span class="spacer"></span>
  <button
    id="access-info-save-btn"
    class="save-button"
    (click)="save()"
  >
    Save
  </button>
</div>
