.title-text-format{
  font-size: clamp(10px, 1.5vw, 60px);
  margin: 0px auto;
  width:fit-content;
  font-family: sans-serif;
  color: rgb(14, 14, 14);
  font-weight: 400;
}

.input-text-title-format{
  font-size: clamp(10px, 1.5vw, 40px);
  font-family: sans-serif;
  font-weight: 200px;
  margin-bottom: 60px;
  color: rgb(14, 14, 14);
}

.button-format{
  background-color: rgb(223, 223, 223);
  border-radius: 12px;
  border-color: transparent;
  font-size: clamp(10px, 1vw, 30px);
  width: min(15vw, 400px);
  height: min(15vw, 100px);
  color: rgb(14, 14, 14);
  margin-bottom: 20px;
}

.button-format:hover{
  background-color:rgb(159, 159, 159);
}

.button-format:active{
  background-color:rgb(140, 140, 140);
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.next-button{
  background-color: #707070;
  border-color: transparent;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  padding:5px 10px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 40px);
}
.previous-button{
  background-color: #707070;
  border-radius: 6px;
  border-color: transparent;
  color: rgb(255, 255, 255);
  padding:5px 10px;
  margin-right: 5px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 40px);
}
.save-button{
  background-color: #707070;
  border-radius: 6px;
  border-color: transparent;
  color: rgb(255, 255, 255);
  padding:5px 10px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: clamp(10px, 1vw, 40px);
}

.button-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.mat-button-toggle-checked {
  background-color: rgb(0, 255, 157);
}