.new-admin-container{
    background-color: rgb(204, 204, 204);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    align-items: flex-start;
    width: fit-content;
    padding: 30px;
}

.new-admin-text{
    color: black;
    margin: 0px 0px 30px 0px;
    font-size: 30px;
    font-weight: 300;
    font-family: sans-serif;
}

.title-text-format{
    font-size: 16px;
    font-weight: 100px;
    margin: 10px 0px 0px 0px;
}

.input-format{
    width: 100%;
    border-radius: 3px;
    border-color: transparent;
    background-color: white;
    font-weight: 100;
    font-family: sans-serif;
}

.password-container{
    margin: 10px 0px;
    background-color: rgb(189, 189, 189);
    padding: 10px 10px 20px;
    border-radius: 3px;
    font-weight: 250;
    font-size: 16px;
    font-family: sans-serif;
}