     <form class="new-admin-container" action="">
        <div class="new-admin-text">Add a new Admin</div>
        <div class="title-text-format">Enter First Name</div>
        <input class="input-format" type="firstName">
        <div class="title-text-format">Enter Last Name</div>
        <input class="input-format" type="lastName">
        <div class="title-text-format">Enter Email</div>
        <input class="input-format" type="email">
        <div class="password-container">
            <div>Enter Password</div>
            <input class="input-format" type="password">
            <div>Re Enter Password</div>
            <input class="input-format" type="password">
        </div>    
    </form>