<div class="container contact-form">
  <h3>You're Almost Done!</h3>
  <p class="instruction">
    Please confirm the information below. If there is any mistake, click on the
    heading to go back and make changes. Click Submit once done!
  </p>

  <!-- Start of First Row -->
  <div class="row">
    <!-- Employee Basic Informaiton -->
    <div class="col">
      <h4 (click)="moveIndex(0)">Employee Basic Information</h4>

      <div>
        <h6>First Name</h6>
        <div class="sub-group">
          <p>
            {{ regForm.value.personalInformation.firstName || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>Middle Initial</h6>
        <div class="sub-group">
          <p>
            {{ regForm.value.personalInformation.middleInitial || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>Last Name</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.personalInformation.lastName || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>Email Address</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.personalInformation.emailAddress || "N/A" }}
          </p>
        </div>
      </div>
      <div>
        <h6>County Department/Organization Name</h6>
        <div class="subgroup">
          <p>
            {{
              regForm.value.personalInformation.countyDepartmentName || "N/A"
            }}
          </p>
        </div>
      </div>
      <div>
        <h6>County Department Number</h6>
        <div class="subgroup">
          <p>
            {{
              regForm.value.personalInformation.countyDepartmentNumber || "N/A"
            }}
          </p>
        </div>
      </div>
      <div>
        <h6>Cell Phone Number</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.personalInformation.phoneNumber || "N/A" }}
          </p>
        </div>
      </div>
      <div>
        <h6>Work Phone Number</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.personalInformation.workPhoneNumber || "N/A" }}
          </p>
        </div>
      </div>
      <div>
        <h6>Employee Number</h6>
        <div class="subgroup">
          <p class="font-weight-light">
            {{ regForm.value.personalInformation.employeeNumber || "N/A" }}
          </p>
        </div>
      </div>
      <div>
        <h6>Contractor Company Name</h6>
        <div class="subgroup">
          <p class="font-weight-light">
            {{ regForm.value.personalInformation.contractorName || "N/A" }}
          </p>
        </div>
      </div>
      <div>
        <h6>Contract Work Order Number</h6>
        <div class="subgroup">
          <p class="font-weight-light">
            {{
              regForm.value.personalInformation.workOrderNumberInput || "N/A"
            }}
          </p>
        </div>
      </div>
      <div>
        <h6>Contract Expiration Date</h6>
        <div class="subgroup">
          <p class="font-weight-light">
            {{ regForm.value.personalInformation.expirationDate || "N/A" }}
          </p>
        </div>
      </div>
    </div>

    <!-- Employee Address Information -->
    <div class="col">
      <h4 (click)="moveIndex(1)">Employee Address</h4>

      <div>
        <h6>Street</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.addressInformation.address || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>City</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.addressInformation.city || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>State</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.addressInformation.state || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>Zip Code</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.addressInformation.zipCode || "N/A" }}
          </p>
        </div>
      </div>
    </div>

    <!-- Manager Information -->
    <div class="col">
      <h4 (click)="moveIndex(1)">Manager Informaiton</h4>

      <div>
        <h6>First Name</h6>
        <div class="sub-group">
          <p>
            {{ regForm.value.managerInformation.managerFirstName || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>Last Name</h6>
        <div class="sub-group">
          <p>
            {{ regForm.value.managerInformation.managerLastName || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>Email</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.managerInformation.managerPhoneNumber || "N/A" }}
          </p>
        </div>
      </div>

      <div>
        <h6>Phone Number</h6>
        <div class="subgroup">
          <p>
            {{ regForm.value.managerInformation.managerEmail || "N/A" }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End of First Row -->

  <br />

  <!-- Start of Second Row -->
  <div class="row">
    <!-- Applications Requested -->
    <div class="col">
      <h4 (click)="moveIndex(4)">Applications Requested</h4>

      <div>
        <h6>Selected Policies</h6>
        <div class="subgroup">
          <div *ngIf="regForm.value.additionalInformation.laCountyGovAccess">
            <input type="checkbox" disabled checked />
            <label>LA County Gov</label>
          </div>

          <div *ngIf="regForm.value.additionalInformation.lacMobileWifiAccess">
            <input type="checkbox" disabled checked />
            <label>LACMobile</label>
          </div>

          <div *ngIf="regForm.value.additionalInformation.o360Email">
            <input type="checkbox" disabled checked />
            <label>Office 360 Email</label>
          </div>

          <div
            *ngIf="
              regForm.value.additionalInformation.laCountyGovAccess == false &&
              regForm.value.additionalInformation.o360Email == false &&
              regForm.value.additionalInformation.lacMobileWifiAccess == false
            "
          >
            <p>No applications selected</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Internet Access Information-->
    <div class="col">
      <h4 (click)="moveIndex(2)">Internet Access Information</h4>

      <div>
        <h6>Selected Policies</h6>
        <div class="subgroup">
          <div *ngIf="regForm.value.internetAccess.countyWidePolicyA">
            <input type="checkbox" disabled checked />
            <label>County Wide Policy A</label>
          </div>

          <div *ngIf="regForm.value.internetAccess.countywidePolicyB">
            <input type="checkbox" disabled checked />
            <label>County Wide Policy B</label>
          </div>

          <div *ngIf="regForm.value.internetAccess.allWebmail">
            <input type="checkbox" disabled checked />
            <label>All Webmail</label>
          </div>

          <div *ngIf="regForm.value.internetAccess.streamMedia">
            <input type="checkbox" disabled checked />
            <label>Stream Media</label>
          </div>
          <div>
            <h6>Justification</h6>
            <div class="subgroup">
              <p>
                {{ regForm.value.internetAccess.justification || "N/A" }}
              </p>
            </div>
          </div>

          <div
            *ngIf="
              regForm.value.internetAccess.countyWidePolicyA == false &&
              regForm.value.internetAccess.countywidePolicyB == false &&
              regForm.value.internetAccess.allWebmail == false &&
              regForm.value.internetAccess.streamMedia == false
            "
          >
            <p>No policies selected</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Additional Access Information -->
    <div class="col">
      <h4 (click)="moveIndex(3)">Additional Access Information</h4>

      <!-- IBM info -->
      <div>
        <h6>IBM Info</h6>
        <div
          class="subgroup"
          *ngIf="
            regForm.value.accessInformation.ibmLogonId != null ||
              regForm.value.accessInformation.majorGroupCode != null ||
              regForm.value.accessInformation.lsoGroupCode != null ||
              regForm.value.accessInformation.securityAuthorization != null;
            else elseBlock
          "
        >
          <p>Logon ID:</p>
          <p>
            {{ regForm.value.accessInformation.ibmLogonId || "N/A" }}
          </p>
          <p>Major Group Code</p>
          <p>
            {{ regForm.value.accessInformation.majorGroupCode || "N/A" }}
          </p>
          <p>LSO Group Code:</p>
          <p>
            {{ regForm.value.accessInformation.lsoGroupCode || "N/A" }}
          </p>
          <p>Security Authorization:</p>
          <p>
            {{ regForm.value.accessInformation.securityAuthorization || "N/A" }}
          </p>
        </div>
        <ng-template #elseBlock>None Entered</ng-template>
      </div>

      <br />

      <div>
        <h6>Unix Info</h6>
        <div
          class="subgroup"
          *ngIf="
            regForm.value.accessInformation.unixLogonId != null ||
              regForm.value.accessInformation.application != null ||
              regForm.value.accessInformation.accessGroup != null ||
              regForm.value.accessInformation.accountNumber != null;
            else elseBlock
          "
        >
          <p>Logon ID:</p>
          <p>
            {{ regForm.value.accessInformation.unixLogonId || "N/A" }}
          </p>
          <p>Application</p>
          <p>
            {{ regForm.value.accessInformation.application || "N/A" }}
          </p>
          <p>Access Group:</p>
          <p>
            {{ regForm.value.accessInformation.accessGroup || "N/A" }}
          </p>
          <p>Account Number:</p>
          <p>
            {{ regForm.value.accessInformation.accountNumber || "N/A" }}
          </p>
        </div>
        <ng-template #elseBlock></ng-template>
      </div>

      <br />

      <div>
        <h6>SecurID Remote Access</h6>
        <div
          class="subgroup"
          *ngIf="
            regForm.value.accessInformation.billingAccountNumber != null ||
              regForm.value.accessInformation.accessType != null;
            else elseBlock
          "
        >
          <p>Billing Account Number:</p>
          <p>
            {{ regForm.value.accessInformation.billingAccountNumber || "N/A" }}
          </p>
          <p>Access Type</p>
          <p>
            {{ regForm.value.accessInformation.accessType || "N/A" }}
          </p>
        </div>
        <ng-template #elseBlock>None Entered</ng-template>
      </div>
    </div>
  </div>
  <!-- End of Second Row-->

  <div class="text-center">
    <button class="btnContact" (click)="onClick()">Submit</button>
  </div>
  <div class="text-center">
    <button class="btnContact" (click)="onSubmitMarkNotCompleted()">
      Submit (But do not mark as completed)
    </button>
  </div>
</div>
