<div>
  <div class="title-text-format">You're Almost Done!</div>
  <div class="description-container">
    <div class="description-text-format">
      Please confirm the information below. If there is any mistake, click on the
      heading to go back and make changes. Click Submit once done!
    </div>
  </div>
  <!-- Start of First Row -->
  <div class="grid-container">
    <!-- Employee Basic Informaiton -->
    <div class="flex-column personal-information-container">
      <div class="column-title-text-format" (click)="moveIndex(0)">Employee Basic Information</div>
      <div class="flex-row2">
        <div class="flex-column2">

      <div class="input-container">
        <div class="input-title-text-format">First Name</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.personalInformation.firstName || "N/A" }}
          </div>
        </div>
      </div>

      <div class="input-container">
        <div class="input-title-text-format">Middle Initial</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.personalInformation.middleInitial || "N/A" }}
          </div>
        </div>
      </div>

      <div class="input-container">
        <div class="input-title-text-format">Last Name</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.personalInformation.lastName || "N/A" }}
          </div>
        </div>
      </div>

      <div class="input-container">
        <div class="input-title-text-format">Email Address</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.personalInformation.emailAddress || "N/A" }}
          </div>
        </div>
      </div>
      <div class="input-container">
        <div class="input-title-text-format">County Department/Organization Name</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{
              regForm.value.personalInformation.countyDepartmentName || "N/A"
            }}
          </div>
        </div>
      </div>
      <div class="input-container">
        <div class="input-title-text-format">County Department Number</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{
              regForm.value.personalInformation.countyDepartmentNumber || "N/A"
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="flex-column2">
      <div class="input-container">
        <div class="input-title-text-format">Cell Phone Number</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.personalInformation.phoneNumber || "N/A" }}
          </div>
        </div>
      </div>
      <div class="input-container">
        <div class="input-title-text-format">Work Phone Number</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.personalInformation.workPhoneNumber || "N/A" }}
          </div>
        </div>
      </div>
      <div class="input-container">
        <div class="input-title-text-format">Employee Number</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.personalInformation.employeeNumber || "N/A" }}
          </div>
        </div>
      </div>
      <div class="input-container">
        <div class="input-title-text-format">Contractor Company Name</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.personalInformation.contractorName || "N/A" }}
          </div>
        </div>
      </div>
      <div class="input-container">
        <div class="input-title-text-format">Contract Work Order Number</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{
              regForm.value.personalInformation.workOrderNumberInput || "N/A"
            }}
          </div>
        </div>
      </div>
      <div class="input-container">
        <div class="input-title-text-format">Contract Expiration Date</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.personalInformation.expirationDate || "N/A" }}
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>

    <!-- Employee Address Information -->
    <div class="flex-column employee-address-container">
      <div class="column-title-text-format" (click)="moveIndex(1)">Employee Address</div>

      <div class="input-container">
        <div class="input-title-text-format">Street</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.addressInformation.address || "N/A" }}
          </div>
        </div>
      </div>

      <div class="input-container">
        <div class="input-title-text-format">City</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.addressInformation.city || "N/A" }}
          </div>
        </div>
      </div>

      <div class="input-container">
        <div class="input-title-text-format">State</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.addressInformation.state || "N/A" }}
          </div>
        </div>
      </div>

      <div class="input-container">
        <div class="input-title-text-format">Zip Code</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.addressInformation.zipCode || "N/A" }}
          </div>
        </div>
      </div>
    </div>

    <!-- Manager Information -->
    <div class="flex-column manager-information-container">
      <div class="column-title-text-format" (click)="moveIndex(1)">Manager Informaiton</div>

      <div class="input-container"> 
        <div class="input-title-text-format">First Name</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.managerInformation.managerFirstName || "N/A" }}
          </div>
        </div>
      </div>

      <div class="input-container">
        <div class="input-title-text-format">Last Name</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.managerInformation.managerLastName || "N/A" }}
          </div>
        </div>
      </div>

      <div class="input-container">
        <div class="input-title-text-format">Email</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.managerInformation.managerEmail || "N/A" }}
          </div>
        </div>
      </div>

      <div class="input-container">
        <div class="input-title-text-format">Phone Number</div>
        <div class="subgroup">
          <div class="info-text-format">
            {{ regForm.value.managerInformation.managerPhoneNumber || "N/A" }}
          </div>
        </div>
      </div>
    </div>
  <!-- End of First Row -->

    <!-- Applications Requested -->
    <div class="flex-column applications-request-container">
      <div class="column-title-text-format"  (click)="moveIndex(4)">Applications Requested</div>

      <div class="input-container ">
        <div class="input-title-text-format">Selected Policies</div>
        <div class="subgroup">
          <div *ngIf="regForm.value.additionalInformation.laCountyGovAccess">
            <input type="checkbox" disabled checked />
            <label>LA County Gov</label>
          </div>

          <div *ngIf="regForm.value.additionalInformation.lacMobileWifiAccess">
            <input type="checkbox" disabled checked />
            <label>LACMobile</label>
          </div>

          <div *ngIf="regForm.value.additionalInformation.o360Email">
            <input type="checkbox" disabled checked />
            <label>Office 360 Email</label>
          </div>

          <div
            *ngIf="
              regForm.value.additionalInformation.laCountyGovAccess == false &&
              regForm.value.additionalInformation.o360Email == false &&
              regForm.value.additionalInformation.lacMobileWifiAccess == false
            "
          >
            <div>No applications selected</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Internet Access Information-->
    <div class="flex-column internet-access-information-container">
      <div class="column-title-text-format"  (click)="moveIndex(2)">Internet Access Information</div>

      <div class="input-container">
        <div class="input-title-text-format">Selected Policies</div>
        <div class="subgroup">
          <div *ngIf="regForm.value.internetAccess.countyWidePolicyA">
            <input type="checkbox" disabled checked />
            <label>County Wide Policy A</label>
          </div>

          <div *ngIf="regForm.value.internetAccess.countywidePolicyB">
            <input type="checkbox" disabled checked />
            <label>County Wide Policy B</label>
          </div>

          <div *ngIf="regForm.value.internetAccess.allWebmail">
            <input type="checkbox" disabled checked />
            <label>All Webmail</label>
          </div>

          <div *ngIf="regForm.value.internetAccess.streamMedia">
            <input type="checkbox" disabled checked />
            <label>Stream Media</label>
          </div>
          <div>
            <div class="input-title-text-format">Justification</div>
            <div class="subgroup">
              <div class="info-text-format">
                {{ regForm.value.internetAccess.justification }}
              </div>
            </div>
          </div>

          <div
            *ngIf="
              regForm.value.internetAccess.countyWidePolicyA == false &&
              regForm.value.internetAccess.countywidePolicyB == false &&
              regForm.value.internetAccess.allWebmail == false &&
              regForm.value.internetAccess.streamMedia == false
            "
          >
            <div>No policies selected</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Additional Access Information -->
    <div class="flex-column additional-access-information-container">
      <div class="column-title-text-format"  (click)="moveIndex(3)">Additional Access Information</div>

      <!-- IBM info -->
      <div class="input-container additional-access-container">
        <div class="input-title-text-format">IBM Info</div>
        <div
          class="subgroup"
          *ngIf="
            regForm.value.accessInformation.ibmLogonId != null ||
              regForm.value.accessInformation.majorGroupCode != null ||
              regForm.value.accessInformation.lsoGroupCode != null ||
              regForm.value.accessInformation.securityAuthorization != null;
            else elseBlock
          "
        >
          <div class="input-title-text-format">Logon ID:</div>
          <div class="info-text-format">
            {{ regForm.value.accessInformation.ibmLogonId || "N/A" }}
          </div>
          <div class="input-title-text-format">Major Group Code</div>
          <div class="info-text-format">
            {{ regForm.value.accessInformation.majorGroupCode || "N/A" }}
          </div>
          <div class="input-title-text-format">LSO Group Code:</div>
          <div class="info-text-format">
            {{ regForm.value.accessInformation.lsoGroupCode || "N/A" }}
          </div>
          <div class="input-title-text-format">Security Authorization:</div>
          <div class="info-text-format"> 
            {{ regForm.value.accessInformation.securityAuthorization || "N/A" }}
          </div>
        </div>
        <ng-template #elseBlock>None Entered</ng-template>
      </div>

  

      <div class="input-container additional-access-container">
        <div class="column-title-text-format"  class="input-title-text-format">Unix Info</div>
        <div
          class="subgroup"
          *ngIf="
            regForm.value.accessInformation.unixLogonId != null ||
              regForm.value.accessInformation.application != null ||
              regForm.value.accessInformation.accessGroup != null ||
              regForm.value.accessInformation.accountNumber != null;
            else elseBlock
          "
        >
          <div class="input-title-text-format">Logon ID:</div>
          <div class="info-text-format">
            {{ regForm.value.accessInformation.unixLogonId || "N/A" }}
          </div>
          <div class="input-title-text-format">Application</div>
          <div class="info-text-format">
            {{ regForm.value.accessInformation.application || "N/A" }}
          </div>
          <div class="input-title-text-format">Access Group:</div>
          <div class="info-text-format">
            {{ regForm.value.accessInformation.accessGroup || "N/A" }}
          </div>
          <div class="input-title-text-format">Account Number:</div>
          <div class="info-text-format">
            {{ regForm.value.accessInformation.accountNumber || "N/A" }}
          </div>
        </div>
        <ng-template #elseBlock></ng-template>
      </div>

  

      <div class="input-container additional-access-container">
        <div class="input-title-text-format">SecurID Remote Access</div>
        <div
          class="subgroup"
          *ngIf="
            regForm.value.accessInformation.billingAccountNumber != null ||
              regForm.value.accessInformation.accessType != null;
            else elseBlock
          "
        >
          <div class="input-title-text-format">Billing Account Number:</div>
          <div class="info-text-format">
            {{ regForm.value.accessInformation.billingAccountNumber || "N/A" }}
          </div>
          <div class="input-title-text-format">Access Type</div>
          <div class="info-text-format">
            {{ regForm.value.accessInformation.accessType || "N/A" }}
          </div>
        </div>
        <ng-template #elseBlock>None Entered</ng-template>
      </div>
    </div>
  <!-- End of Second Row-->
</div>
<div class="button-container">
  <div>
    <button class="submit-button" (click)="onClick()">Submit</button>
  </div>
</div>
</div>
