body {
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}

.contact-form {
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100%;
}
.contact-form .form-control {
  border-radius: 1rem;
}
.contact-form form {
  padding: 14%;
}
.contact-form form .row {
  margin-bottom: 5%;
}
.contact-form h3 {
  margin-bottom: 7%;
  margin-top: -7%;
  text-align: center;
  color: #0062cc;
  font-weight: bold;
  font-size: 50px;
  font-family: "Kaushan Script";
}

.contact-form h4 {
  margin-bottom: 7%;
  text-decoration: underline;
  color: #0062cc;
  cursor: pointer;
}

.instruction {
  margin-top: -5;
  margin-bottom: 5%;
}

.contact-form h4 {
  margin-bottom: 12%;
  text-decoration: underline;
}
.contact-form .btnContact {
  margin-top: 8%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  padding-left: 15%;
  padding-right: 15%;
}

.contact-form .btnSub {
  width: 90%;
  margin-top: 8%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #1f45c4;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: rgb(40, 212, 83);
  content: "\2713";
  text-align: center;
  margin-right: 5px;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

.smallerText {
    font-size: 11px;
}