<div class="fullscreen-whole" style="display: flex">
  <div class="service-request service-request-block layout">
    <div class="service-request-flex layout">
      <img class="image-format" src="/assets/small_logo.png">
      <h1 class="service-request-hero-title layout">Service Request</h1>
      <form class="form-organizer">
      <input class="service-request-cover-block layout"  (keyup)="applyFilter($event)" placeholder="Search" >
    </form>
      <article class="service-request-content-box layout">
        <h5 class="service-request-highlights layout">Request Number</h5>
        <div class="service-request-content-box-spacer"></div>
        <h5 class="service-request-highlights1-box layout">
          <pre class="service-request-highlights1">
Request Status
</pre
          >
        </h5>
        <div class="service-request-content-box-spacer1"></div>
        <h5 class="service-request-highlights2-box layout">
          <pre class="service-request-highlights2">
First Name
</pre
          >
        </h5>
        <div class="service-request-content-box-spacer2"></div>
        <h5 class="service-request-highlights layout1">Last Name</h5>
        <div class="service-request-content-box-spacer3"></div>
        <h5 class="service-request-highlights layout2">
          Employee/Contractor
        </h5>
        <div class="service-request-content-box-spacer4"></div>
        <h5 class="service-request-highlights layout3">
          Request Submitted Date
        </h5>
        <div class="service-request-content-box-spacer5"></div>
        <h5 class="service-request-highlights layout3">
          Request Completed Date
        </h5>
      </article>
      <div class="service-request-box2 layout">
        <table class="table" mat-table [dataSource]="dataSource">
          <!-- requestNumber Column -->
          <ng-container matColumnDef="requestNumber">
            <th *matHeaderCellDef></th>
            <td *matCellDef="let element">
              <button class="button"
                mat-flat-button
                (click)="viewDetails(element.requestNumber)"
              >
                {{ element.requestNumber }}
              </button>
            </td>
          </ng-container>
  
          <!-- requestStatus Column -->
          <ng-container  matColumnDef="requestStatus">
            <th  *matHeaderCellDef></th>
            <td  *matCellDef="let element">
              <div >{{ element.requestStatus }}</div>
            </td>
          </ng-container>
  
          <!-- firstName Column -->
          <ng-container matColumnDef="firstName">
            <th *matHeaderCellDef></th>
            <td  *matCellDef="let element">{{ element.firstName }}</td>
          </ng-container>
  
          <!-- lastName Column -->
          <ng-container matColumnDef="lastName">
            <th *matHeaderCellDef></th>
            <td *matCellDef="let element">{{ element.lastName }}</td>
          </ng-container>

          <!-- Contractor/Employee -->
          <ng-container matColumnDef="conOrEm">
            <th *matHeaderCellDef></th>
            <td *matCellDef="let element">{{ element.lastName }}</td>
          </ng-container>


          <!-- Submitted Date -->
          <ng-container matColumnDef="subDate">
            <th *matHeaderCellDef></th>
            <td *matCellDef="let element">{{ element.lastName }}</td>
          </ng-container>

          <!-- Completed Date -->
          <ng-container matColumnDef="compDate">
            <th *matHeaderCellDef></th>
            <td *matCellDef="let element">{{ element.lastName }}</td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>