.service-request-container{
  display: flex;
  margin: 60px auto 0px;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  max-width: 1467px;
}

.service-request-title{
  position: relative;
  margin-bottom: 15px;
  font-size: 30px;
  color: #BCCCDC;
  align-self: flex-start;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.table-container{
  padding: 0px;
  background: linear-gradient(0deg, #829AB1 90%, #9FB3C8 60%);
  border-radius: 6px;
  height: 620px;
}

.table-format{
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 80px 0;
  font-size: 16px;
  max-height: 700px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

th{
  color: black;
}


.request-number-button{
  background-color: #243B53;
  border-color: transparent;
  border-radius: 3px;
  min-width: 70px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}