.input-group {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.tableArea {
    align-items: center;
    padding-top: 50px;
    padding-right: 180px;
    padding-left: 180px;
}

/* Structure */
table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
    text-align: center;
  }
  
th.mat-header-cell {
    text-align: center !important;
}  

.mat-form-field {
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.mat-card-title {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

input {
    text-align: center;
}

mat-label {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content {
    
    padding-top: 40px;
}
