     <form [formGroup]="adminForm" class="new-admin-container">
        <div class="new-admin-text">Add a new Admin</div>
        <div class="input-container">
            <div class="title-text-format">Enter First Name</div>
            <input class="input-format" type="firstName" formControlName="firstName">
        </div>
        <div class="input-container">
            <div class="title-text-format">Enter Middle Initial</div>
            <input class="input-format" type="middleName" formControlName="middleName">
        </div> 
        <div class="input-container">
            <div class="title-text-format">Enter Last Name</div>
            <input class="input-format" type="lastName" formControlName="lastName">
        </div>    
        <div class="input-container">
            <div class="title-text-format">Enter Email</div>
            <input class="input-format" type="email" formControlName="email">
        </div>    
        <div class="password-container">
            <div>
                <div class="title-text-format">Enter Passsword</div>
                <input class="input-format" type="password" formControlName="password1">
            </div>    
            <div class="title-text-format">
                <div>Re Enter Password</div>
                <input class="input-format" type="password" formControlName="password2">
            </div>
        </div>   
        <button class="add-button" >Add</button>  
    </form>