.new-admin-container{
    background-color: rgb(29, 29, 29);
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin: 150px auto 0px;
    align-items: flex-start;
    width: fit-content;
    padding: 30px;
}

.new-admin-text{
    color: white;
    margin: 0px 0px 30px 0px;
    font-size: 30px;
    font-weight: 300;
    font-family: sans-serif;
}

.title-text-format{
    color: white;
    font-size: 16px;
    font-weight: 400px;
    margin: 10px 0px 0px 0px;
}

.input-format{
    width: 100%;
    border-radius: 3px;
    border: 1px solid black;
    background-color: #8a8a8a;
    color:white;
    font-weight: 400;
    font-family: sans-serif;
}

.password-container{
    margin: 10px 0px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    padding: 10px 10px 20px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
    font-family: sans-serif;
}

.add-button{
    align-self: center;
    color: rgb(255, 217, 0);
    background-color: #000000;
    border-color: transparent;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: clamp(10px, 1vw, 30px);
    padding: 6px 10px;
    font-weight: 500;
}