/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  color: white;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(189, 189, 189);
}
.mat-hint {
  color: rgba(255, 255, 255, 0.685);
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: rgba(255, 255, 255, 0.87);
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #a1a1a1;
  color: #fff;
}