/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  background-color: #000000;
  color: white;
}


.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #000000;
}

.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(0, 0, 0);
}

.mat-option {
  background-color: rgba(43, 43, 185, 0.507);
  color: white;
}

.mat-select-panel .mat-optgroup-label,
.mat-select-panel {
  font-size: inherit;
  line-height: 3em;
  background-color: rgb(201, 201, 201);
  color: black;
}

.table {
  color: rgb(247, 247, 247);
}

.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
  color: rgba(255, 255, 255, 0.87);
}


.table td,
.table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #000000;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: transparent;
}
