<form
  id="regForm"
  [formGroup]="adminForm"
  class="container"

>

      <ng-template matStepLabel>Contractor</ng-template>
      <div style="margin: 30px 0px">
      <h1 style="margin-bottom: 15px">
        Request Details
      </h1>
      <h6> Request Number: <span style="color: red">{{requestNumber}}</span></h6>
      <h6> Request Type: <span style="font-size: 15px; color: red;"> Contractor</span></h6>
      </div>
      <div class="row">
        <div class="col">
          <h4>
            <button style="margin-bottom: 5px" class="btnSub" mat-raised-button color="primary">
              Contractor
            </button>
          </h4>

          <div>
            <h6>First Name</h6>
            <div class="sub-group">
              <p>
                {{
                  adminForm.value.contractorInformation.firstName ||
                    "N/A"
                }}
              </p>
            </div>
          </div>

          <div>
            <h6>Middle Initial</h6>
            <div class="subgroup">
              <p>
                {{
                  adminForm.value.contractorInformation.middleInitial ||
                    "N/A"
                }}
              </p>
            </div>
          </div>

          <div>
            <h6>Last Name</h6>
            <div class="sub-group">
              <p>
                {{
                  adminForm.value.contractorInformation.lastName || "N/A"
                }}
              </p>
            </div>
          </div>

          <div>
            <h6>Company Name</h6>
            <div class="subgroup">
              <p>
                {{
                  adminForm.value.contractorInformation.companyName ||
                    "N/A"
                }}
              </p>
            </div>
          </div>

          <div>
            <h6>Company Email</h6>
            <div class="subgroup">
              <p>
                {{
                  adminForm.value.contractorInformation
                    .companyEmailAddress || "N/A"
                }}
              </p>
            </div>
          </div>

          <div>
            <h6>Company Street Address</h6>
            <div class="subgroup">
              <p>
                {{
                  adminForm.value.contractorInformation
                    .companyStreetAddress || "N/A"
                }}
              </p>
            </div>
          </div>

          <div>
            <h6>City</h6>
            <div class="subgroup">
              <p>
                {{ adminForm.value.contractorInformation.city || "N/A" }}
              </p>
            </div>
          </div>

          <div>
            <h6>State</h6>
            <div class="subgroup">
              <p>
                {{
                  adminForm.value.contractorInformation.state || "N/A"
                }}
              </p>
            </div>
          </div>

          <div>
            <h6>Zipcode</h6>
            <div class="subgroup">
              <p>
                {{
                  adminForm.value.contractorInformation.zipCode || "N/A"
                }}
              </p>
            </div>
          </div>

          <div>
            <h6>Phone Number</h6>
            <div class="subgroup">
              <p>
                {{
                  adminForm.value.contractorInformation.phoneNumber ||
                    "N/A"
                }}
              </p>
            </div>
          </div>
        </div>

        <!-- County Information -->
        <div class="col">
          <h4>
            <button style="margin-bottom: 5px" class="btnSub" mat-raised-button color="primary">
              County
            </button>
          </h4>

          <div>
            <h6>Contract Work Order No</h6>
            <div class="subgroup">
              <p>
                {{
                  adminForm.value.countyInformation
                    .contractWorkOrderNumber || "N/A"
                }}
              </p>
            </div>
          </div>

          <div>
            <h6>Contract Expiration Date</h6>
            <div class="subgroup">
              <p>
                {{
                  adminForm.value.countyInformation
                    .contractExpirationDate || "N/A"
                }}
              </p>
            </div>
          </div>

          <div>
            <h6>County Email Address</h6>
            <div class="subgroup">
              <p>
                {{
                  adminForm.value.countyInformation.countyEmailAddress ||
                    "N/A"
                }}
              </p>
            </div>
          </div>

          <div>
            <h6>Phone Number</h6>
            <div class="subgroup">
              <p>
                {{
                  adminForm.value.countyInformation.phoneNumber || "N/A"
                }}
              </p>
            </div>
          </div>

          <div>
            <h6>Department Name</h6>
            <div class="subgroup">
              <p>
                {{
                  adminForm.value.countyInformation.departmentName ||
                    "N/A"
                }}
              </p>
            </div>
          </div>

          <div>
            <h6>Department Number</h6>
            <div class="subgroup">
              <p>
                {{
                  adminForm.value.countyInformation.departmentNumber ||
                    "N/A"
                }}
              </p>
            </div>
          </div>

          <div>
            <h6>Business Street Address</h6>
            <div class="subgroup">
              <p>
                {{
                  adminForm.value.countyInformation
                    .businessStreetAddress || "N/A"
                }}
              </p>
            </div>
          </div>

          <div>
            <h6>Business City</h6>
            <div class="subgroup">
              <p>
                {{
                  adminForm.value.countyInformation.businessCity || "N/A"
                }}
              </p>
            </div>
          </div>

          <div>
            <h6>Business Zipcode</h6>
            <div class="subgroup">
              <p>
                {{
                  adminForm.value.countyInformation.businessZipCode ||
                    "N/A"
                }}
              </p>
            </div>
          </div>
        </div>

        <!-- Policy Rules Information -->
        <div class="col">
          <h4>
            <button style="margin-bottom: 5px" class="btnSub" mat-raised-button color="primary">
              Policy Rules
            </button>
          </h4>

          <div>
            <h6>Selected Policies</h6>
            <div class="subgroup">
              <div>Default County Wide Policy</div>
            </div>
          </div>

          <div>
            <h6>Selected Social Networking</h6>
            <div class="subgroup">
              <p class="font-weight-light"></p>
            </div>
          </div>

          <div>
            <h6>Type Of Registration</h6>
            <div class="subgroup">
              <p class="font-weight-light"></p>
            </div>
          </div>
        </div>
      <!-- Access Information -->
      <div class="col">
        <h4>
          <button style="margin-bottom: 5px" class="btnSub" mat-raised-button color="primary">
            Access
          </button>
        </h4>
      <div>
        <h6>Access Options:</h6>
        <div class="smallerText" *ngIf="adminForm.value.accessInformation.ibmLogonId != null">
          <input type="checkbox" disabled checked>
          <label>IBM</label>
        </div>

        <div class="smallerText" *ngIf="adminForm.value.accessInformation.unixLogonId != null">
          <input type="checkbox" disabled checked>
          <label>Unix Environment</label>
        </div>

        <div class="smallerText" *ngIf="adminForm.value.accessInformation.billingAccountNumber != null">
          <input type="checkbox" disabled checked>
          <label>SecurID Remote</label>
        </div>
      </div>
      <!-- IBM info -->
      <!-- <div *ngIf="regForm.value.accessInformation.renderIBMForm"> -->
      <div *ngIf="adminForm.value.accessInformation.ibmLogonId != null">
        <h6>IBM Info</h6>
        <div class="subgroup">
          <h6>
            Logon ID:
          </h6>
          <p>
            {{ adminForm.value.accessInformation.ibmLogonId || "N/A" }}
          </p>
        </div>
      </div>

      <div *ngIf="adminForm.value.accessInformation.ibmLogonId != null">
        <h6>2-Digit Major Group Code</h6>
        <div class="subgroup">
          <p>
            {{ adminForm.value.accessInformation.majorGroupCode || "N/A" }}
          </p>
        </div>
      </div>

      <div *ngIf="adminForm.value.accessInformation.ibmLogonId != null">
        <h6>2-Digit LSO Group Code</h6>
        <div class="subgroup">
          <p>
            {{ adminForm.value.accessInformation.lsoGroupCode || "N/A" }}
          </p>
        </div>
      </div>

      <div *ngIf="adminForm.value.accessInformation.ibmLogonId != null">
        <h6>Security Authorization</h6>
        <div class="subgroup">
          <p>
            {{ adminForm.value.accessInformation.securityAuthorization || "N/A" }}
          </p>
        </div>
      </div>
      <!-- </div> -->

      <!-- Unix info -->
      <!-- <div *ngIf="regForm.value.accessInformation.renderUnixEnvAccess === true> " -->
      <div *ngIf="adminForm.value.accessInformation.unixLogonId != null">
        <h6>Login ID</h6>
        <div class="subgroup">
          <p>
            {{ adminForm.value.accessInformation.unixLogonId || "N/A" }}
          </p>
        </div>
      </div>

      <div *ngIf="adminForm.value.accessInformation.unixLogonId != null">
        <h6>Application</h6>
        <div class="subgroup">
          <p>
            {{ adminForm.value.accessInformation.application || "N/A" }}
          </p>
        </div>
      </div>

      <div *ngIf="adminForm.value.accessInformation.unixLogonId != null">
        <h6>Access Group</h6>
        <div class="subgroup">
          <p>
            {{ adminForm.value.accessInformation.accessGroup || "N/A" }}
          </p>
        </div>
      </div>

      <div *ngIf="adminForm.value.accessInformation.unixLogonId != null">
        <h6>Account Number</h6>
        <div class="subgroup">
          <p>
            {{ adminForm.value.accessInformation.accountNumber || "N/A" }}
          </p>
        </div>
      </div>
      <!-- </div> -->

      <!-- SecurID Access info -->
      <!-- <div *ngIf="regForm.value.accessInformation.renderSecurIdAccess === true> " -->
      <div *ngIf="adminForm.value.accessInformation.billingAccountNumber != null">
        <h6>Billing Account Number</h6>
        <div class="subgroup">
          <p>
            {{ adminForm.value.accessInformation.billingAccountNumber || "N/A" }}
          </p>
        </div>
      </div>

      <div *ngIf="adminForm.value.accessInformation.billingAccountNumber != null">
        <h6>Access Type</h6>
        <div class="subgroup">
          <p>
            {{ adminForm.value.accessInformation.accessType || "N/A" }}
          </p>
        </div>
      </div>
    </div>

      <!-- </div> -->
      <!-- Additional Information -->
      <div class="col">
        <h4>
          <button
            class="btnSub"
            mat-raised-button
            color="primary"
          >
            Additional
          </button>
        </h4>

        <!-- Application requested info -->
        <div>
          <h6>Applications Requested</h6>
          <div class="subgroup">
            <div class="smallerText" *ngIf="adminForm.value.additionalInformation.internetApplication">
              <input type="checkbox" disabled checked>
              <label>Internet Access</label>
            </div>

            <div class="smallerText" *ngIf="adminForm.value.additionalInformation.exchangeEmail">
              <input type="checkbox" disabled checked>
              <label>Email Account</label>
            </div>

            <div class="smallerText" *ngIf="adminForm.value.additionalInformation.emailEncryption">
              <input type="checkbox" disabled checked>
              <label>Email Encryption</label>
            </div>

            <div class="smallerText" *ngIf="adminForm.value.additionalInformation.laCountyGovAccess">
              <input type="checkbox" disabled checked>
              <label>LA County Gov Access</label>
            </div>

            <div class="smallerText" *ngIf="adminForm.value.additionalInformation.tokenlessAuthentication">
              <input type="checkbox" disabled checked>
              <label>Tokenless Authentication</label>
            </div>

            <div class="smallerText" *ngIf="adminForm.value.additionalInformation.lacMobileWifiAccess">
              <input type="checkbox" disabled checked>
              <label>LACMobile</label>
            </div>

            <div class="smallerText" *ngIf="adminForm.value.additionalInformation.cherwellSms">
              <input type="checkbox" disabled checked>
              <label>Cherwell Sms</label>
            </div>

            <div class="smallerText" *ngIf="adminForm.value.additionalInformation.windowsRightsMgmt">
              <input type="checkbox" disabled checked>
              <label>Window Rights Management</label>
            </div>
          </div>
        </div>

        </div>
      </div>



      </form>
