<div class="fullscreen-container">  
  <div class="home-screen-block layout">
    <div class ="home-screen-flex layout">
      <div class="home-screen-flex1 layout"> 
        <div class="img-block">
          <div
          style="--src:url(/assets/small_logo.png)"
          class="image layout"
        ></div>
        </div>
        <div class ="home-screen-form-container layout">
            <form
              [formGroup]="resetForm"
              class="home-screen-reset-form layout"
            >
            <div class="text-format"> Change Password </div>
            <div class="error-message">
              <div *ngIf="isSucess" class="alert alert-success" role="alert">
                {{ message }}
              </div>
              <div *ngIf="isAlert" class="alert alert-danger" role="alert">
                {{ message }}
              </div>
            </div>
              <label class="label-style">Current password</label>
              <div class="new-pass-edit">
                <input
                  class="pass-word"
                  matInput
                  [type]="hide1 ? 'password' : 'text'"
                  placeholder="password"
                  formControlName="oldPassword"
                />
                <i class ="material-icons" matSuffix
                  (click)="hide1 = !hide1"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide1"
                >
                  {{ hide1 ? "visibility_off" : "visibility" }}
                </i>
            </div>
            <label class="label-style">New password</label>
            <div class="new-pass-edit">
              <input
                class="pass-word"
                matInput
                [type]="hide2 ? 'password' : 'text'"
                placeholder="password"
                formControlName="newPassword"
              />
              <i class ="material-icons" matSuffix
                (click)="hide2 = !hide2"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide2"
              >
                {{ hide2 ? "visibility_off" : "visibility" }}
              </i>
            </div>
            <div class="home-screen-button-block layout">
              <button
                class="home-screen-button layout"
                mat-raised-button
                color="primary"
                (click)="updatePassword()"
              >
                Submit
              </button>
            </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>