<div>   
          <div
          style="--src:url(/assets/small_logo.png)"
          class="image"
        ></div>
            <form
              [formGroup]="resetForm"
              class="form-box"
            >
            <div class="title-text-format"> Change Password </div>
            <div>
              <div *ngIf="isSucess" role="alert">
                {{ message }}
              </div>
              <div *ngIf="isAlert" role="alert">
                {{ message }}
              </div>
            </div>
              <div>
                <input
                class="pass-word"
                  matInput
                  [type]="hide1 ? 'password' : 'text'"
                  placeholder="Current Password"
                  formControlName="oldPassword"
                />
                <i class ="material-icons" matSuffix
                  (click)="hide1 = !hide1"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide1"
                >
                  {{ hide1 ? "visibility_off" : "visibility" }}
                </i>
            </div>
            <div>
              <input
                class="pass-word"
                matInput
                [type]="hide2 ? 'password' : 'text'"
                placeholder="New Password"
                formControlName="newPassword"
              />
              <i class ="material-icons" matSuffix
                (click)="hide2 = !hide2"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide2"
              >
                {{ hide2 ? "visibility_off" : "visibility" }}
              </i>
            </div>
            <div>
              <button
              class="submit-button"
                (click)="updatePassword()"
              >
                Submit
              </button>
            </div>
            </form>
</div>