@import "../utils.scss";

$font_type0: 24px/1.2 "Abel", Helvetica, Arial, serif;



.image {
    position: relative;
    height: 100px;
    width: 99px;
    background: var(--src) center center / contain no-repeat;
    margin: 1% auto 8% auto;
}

.title-text-format{
    position: relative;
    color: black;
    text-align: center;
    font-size: 50px;
    margin-bottom: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pass-word{
    position: relative;
     width: 300px;
     text-align: center;
     background-color: white;
     border-color: transparent;
     border-radius: 5px;
     margin: 0px 0px 30px 25px;
     height: 40px;
     font-size: 20px;
}

.material-icons {
    margin-left: 6px;
}

.form-box{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    margin:auto;
    padding: 30px 20px;
    background-color: rgba(133, 133, 226, 0.534);
    border-radius: 6px;
}


.submit-button{
    position: relative;
    background-color: black;
    border-color: transparent;
    color: white;
    border-radius: 3px;
    width: 100px;
    height: 50px;
    
}