.change-password-container{
    display: flex;
    flex-direction: column;
    margin: min(15vw, 600px) auto 0px;
    align-items: center;
    background-color: rgb(188, 188, 188);
    box-shadow: 10px 10px 10px rgb(158, 158, 158);
    border-radius:8px;
    background-position: bottom;
    padding: min(2vw, 100px);
    max-width: fit-content;
}

.reset-password-text{
    color: rgb(14, 14, 14);
    font-size: clamp(25px, 2vw, 80px);
    font-family: sans-serif;
    font-weight: 300;
    margin: 0px auto min(2vw, 150px);
}

.old-password{
    border-color: transparent;
    border-radius: 6px;
    background-color: rgb(223, 223, 223);
    font-size: clamp(10px, 1vw, 45px);
    margin: 0 auto min(1vw, 200px);
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(14, 14, 14);
}

.new-password{
    border-color: transparent;
    border-radius: 6px;
    background-color: rgb(223, 223, 223);
    font-size: clamp(10px, 1vw, 45px);
    margin: 0 auto min(1vw, 200px);
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(14, 14, 14);
}

.reset-button{
    color: rgb(255, 255, 255);
    background-color: #707070;
  border-color: transparent;
  border-radius: 3px;
  font-family: sans-serif;
  font-size: clamp(6px, 1vw, 50px);
  font-weight: 500;
  padding: min(5px, 1vw, 10px);
  }

.input-flexbox{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.material-icons{
    color: rgb(41, 41, 41);
}

@media (max-width: 800px) {
    .change-password-container{
        display: flex;
        flex-direction: column;
        margin: 50% auto 0px;
        align-items: center;
        background-color: #CBD2D9;
        padding: 20px 30px 30px;
        max-width: 100%;
        border-radius: 0px;
    }
    
    .reset-password-text{
        color: black;
        font-size: 30px;
        font-family: sans-serif;
        margin: 0px auto 60px;
    }
    
    .old-password{
        border-radius: 3px;
        background-color: white;
        border: 1px solid black;
        font-family: sans-serif;
        font-size: 22px;
        width: 350px;
        margin: 20px 0px 30px;
        height: 50px;
    }
    
    .new-password{
        border-radius: 3px;
        background-color: white;
        border: 1px solid black;
        font-family: sans-serif;
        font-size: 22px;
        width: 350px;
        margin: 20px 0px 30px;
        height: 50px;
    }
    
    .reset-button{
        background-color: #334E68;
        color: white;
        border-color: transparent;
        border-radius: 3px;
        font-size: clamp(10px, 1vw, 30px);
    }
    
    .input-flexbox{
        display: flex;
        flex-direction: row;
        column-gap: 10px;
    }
}