   
    <form
    class="change-password-container"
      [formGroup]="resetForm"
    >
    <div class="reset-password-text">Reset Password</div>
    <div>
      <div *ngIf="isSucess" role="alert">
        {{ message }}
      </div>
      <div *ngIf="isAlert" role="alert">
        {{ message }}
      </div>
    </div>
      <div class="input-flexbox">
        <input
        class="old-password"
          matInput
          [type]="hide1 ? 'password' : 'text'"
          placeholder="Current Password"
          formControlName="oldPassword"
        />
        <i class ="material-icons" matSuffix
          (click)="hide1 = !hide1"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide1"
        >
          {{ hide1 ? "visibility_off" : "visibility" }}
        </i>
    </div>
    <div class="input-flexbox">
      <input
        class="new-password"
        matInput
        [type]="hide2 ? 'password' : 'text'"
        placeholder="New Password"
        formControlName="newPassword"
      />
      <i class ="material-icons" matSuffix
        (click)="hide2 = !hide2"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide2"
      >
        {{ hide2 ? "visibility_off" : "visibility" }}
      </i>
    </div>
      <button
      class="reset-button"
        (click)="updatePassword()"
      >
        Submit
      </button>
    </form>