.change-password-container{
    display: flex;
    flex-direction: column;
    margin: min(14vw, 600px) auto 0px;
    align-items: center;
    background-color: #CBD2D9;
    padding: 20px 30px 30px;
    max-width: fit-content;
    border-radius: 3px;
}

.reset-password-text{
    color: black;
    font-size: clamp(25px, 3vw, 80px);
    font-family: sans-serif;
    margin: 0px auto min(2vw, 100px);
}

.old-password{
    border-radius: 3px;
    margin: 0px auto 30px;
    background-color: white;
    border: 1px solid black;
    font-family: sans-serif;
    font-size: clamp(10px, 1vw, 30px);
    margin: 0px auto min(1vw, 200px);
}

.new-password{
    border-radius: 3px;
    margin: 0px auto 20px;
    background-color: white;
    border: 1px solid black;
    font-family: sans-serif;
    font-size: clamp(10px, 1vw, 30px);
    margin: 0px auto min(1vw, 200px);
}

.reset-button{
    background-color: #334E68;
    color: white;
    border-color: transparent;
    border-radius: 3px;
    font-size: clamp(10px, 1vw, 30px);
}

.input-flexbox{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

@media (max-width: 800px) {
    .change-password-container{
        display: flex;
        flex-direction: column;
        margin: 50% auto 0px;
        align-items: center;
        background-color: #CBD2D9;
        padding: 20px 30px 30px;
        max-width: 100%;
        border-radius: 0px;
    }
    
    .reset-password-text{
        color: black;
        font-size: 30px;
        font-family: sans-serif;
        margin: 0px auto 60px;
    }
    
    .old-password{
        border-radius: 3px;
        background-color: white;
        border: 1px solid black;
        font-family: sans-serif;
        font-size: 22px;
        width: 350px;
        margin: 20px 0px 30px;
        height: 50px;
    }
    
    .new-password{
        border-radius: 3px;
        background-color: white;
        border: 1px solid black;
        font-family: sans-serif;
        font-size: 22px;
        width: 350px;
        margin: 20px 0px 30px;
        height: 50px;
    }
    
    .reset-button{
        background-color: #334E68;
        color: white;
        border-color: transparent;
        border-radius: 3px;
        font-size: clamp(10px, 1vw, 30px);
    }
    
    .input-flexbox{
        display: flex;
        flex-direction: row;
        column-gap: 10px;
    }
}