.button {
    align-items: center;
    justify-content: center;
    display: flex;
}

.reset-form {
    text-align: center;
    justify-content: center;
    align-items: center;

}
.error-message {

    text-align: center;
    justify-content: center;
    min-height: 0px;
    min-width: 0px;
}

.container {
    padding-top: 40px;

}

mat-card-header {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 20px;
}

.card {
    align-items: center;
} 

.mat-input-width {
    width: 51%;
 }